In [1]:
print(347863874)

347863874

In [2]:
print(bfgjhgfjgsj) # Quotation marks are missing

NameError: name 'bfgjhgfjgsj' is not defined

In [3]:
print("mbcjhj")

mbcjhj

In [4]:
print('56384skjfhjfh')

56384skjfhjfh

In [5]:
print('89475mdjoi-bfhhtj et')

89475mdjoi-bfhhtj et

# Hash tag is used -- it becomes heading
-- I am Data Scientist


##  Unlimited #### hastag can be uesd to write comment

In [7]:
# I am Data Scientist
print('Yes')
''' Yes u will be'''

Yes

' Yes u will be'

In [8]:
x = 90 + 90 + \
45 + 45
print(x)

270

In [9]:
print('I am feeling sleepy \n help me' )

I am feeling sleepy
 help me

In [10]:
print('A' + "R" + "J" + 'U' + 'N')

ARJUN

In [11]:
type(adgh)

NameError: name 'adgh' is not defined

In [12]:
type('kfh')

str

In [13]:
type(5364576)

int

In [14]:
type(True)

bool

# Type Casting

In [15]:
str(22)

'22'

In [16]:
type(str(23245))

str

In [17]:
str(False)

'False'

In [18]:
str(int(2343))

'2343'

In [19]:
str(bool(true))

NameError: name 'true' is not defined

In [20]:
str(bool(True))

'True'

In [1]:
print(type(set(x{})))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (757016205.py, line 1)

In [6]:
x = {}
print(type(x))
set(dict(x))
print(type(x))       # NULL set is NOT created

<class 'dict'>
<class 'dict'>

In [7]:
x = {}
print(type(x))
x = set(x)
print(type(x))       # NULL set is created

<class 'dict'>
<class 'set'>

In [21]:
int('Data Scientist')                      # Error because numerical Value must be there -

ValueError: invalid literal for int() with base 10: 'Data Scientist'

In [22]:
int('555DATA')

ValueError: invalid literal for int() with base 10: '555DATA'

In [23]:
int('2222')

2222

In [24]:
int(55j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [25]:
int('55j')

ValueError: invalid literal for int() with base 10: '55j'

In [26]:
int('5jar')

ValueError: invalid literal for int() with base 10: '5jar'

In [27]:
int('$$$$$')

ValueError: invalid literal for int() with base 10: '$$$$$'

In [28]:
print('A + R + J + U + N')

A + R + J + U + N

In [29]:
print('A+R+J+U+N')

A+R+J+U+N

In [30]:
print('A'+ "R" + 'J" + 'U' + "N')

ARJ" +  + "N

In [31]:
print('D' + "A" + 'T" + 'O' + "A')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (145305780.py, line 1)

In [7]:
print('D' + "A" + 'T" + 'O' + 'A')

SyntaxError: unterminated string literal (detected at line 1) (3088881271.py, line 1)

In [4]:
print('A'+ "R" + 'J" + 'U' + "N')

ARJ" +  + "N

In [5]:
print('A'+ "R" + 'J" + 'U' + "N')

ARJ" +  + "N

In [6]:
print('A'+ "R" + 'J" + 'l' + "N')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1707517237.py, line 1)

In [37]:
print('U')

U

In [38]:
bool(21.5)  # all interger value is "True"

True

In [39]:
bool(-23.5)

True

In [40]:
bool("Data scientist")

True

In [41]:
bool(10j)

True

In [42]:
bool(DATA)

NameError: name 'DATA' is not defined

In [8]:
bool('DATA')

True

In [1]:
bool('0')             # Here 0 is not zero but a string

True

In [43]:
bool(0)

False

In [44]:
bool(\)

SyntaxError: unexpected character after line continuation character (2832393120.py, line 1)

In [45]:
bool(08)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2381618856.py, line 1)

In [46]:
complej(True)

NameError: name 'complej' is not defined

In [47]:
complex(True)

(1+0j)

In [48]:
complex(False)

0j

In [49]:
complex(4.5)

(4.5+0j)

In [50]:
float(55j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [52]:
a = 5
id(a)

2782799659376

In [53]:
a = 55

id(a)

2782799660976

In [54]:
a = 55
Id(a)

NameError: name 'Id' is not defined

In [55]:
x = 55   # Address of  'a' and 'x' is same. 
id(x)

2782799660976

In [56]:
a = 55
b = 50
c = a
id(a)
id(b)
id(c)

2782799660976

In [57]:
id(b)

2782799660816

In [58]:
id(c)

2782799660976

In [59]:
_55 = 100

In [62]:
print('I am \'Data Scientist\')

SyntaxError: unterminated string literal (detected at line 1) (1081857666.py, line 1)

In [63]:
print('I am \'Data Scientist\'')

I am 'Data Scientist'

In [64]:
print('I am DATA \tScientist')

I am DATA 	Scientist

In [65]:
print(Arjun\tThanos)

SyntaxError: unexpected character after line continuation character (324013258.py, line 1)

In [66]:
print("Arjun\rThanos")

Thanos

In [67]:
print('Arjun\rIron MAN')

Iron MAN