<font size = 5.5> -- sting, list, tuple, set, dictionary , range  --- iterable data types

# Iterative Statements -- "Repeat statement -- number of times"

## Loops 

### Loops are used to execute a block of code repeatedly.

#### "for" loop

### The "for" loop iterates over an iteratble object.
### 1. "for" loops are used when you have a block of code which you want to repeat a fixed number of times.
### 2. "for" loops are also used to perform the same set of operations for each item in an iterable.
### 3. Thus, "for" loops reduce the code complexity and saves time.
### 4. "for" loop will save memory space also -"NO"

### Transfer statements
- Break
- Continue
- Pass

In [2]:
## Table  -- Multiple tables at a time.
x = range (1,11)
y = 2,3,5
for t in y:
    for y in x:
        print(t, "*",y,"=",y*t)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [4]:
## It joins the other print command
print("Hello", end="" " ")
print("Python")

Hello Python

In [5]:
for x in range(5):
    continue
    print(x)  ## it will skip all iteration

<font size = 5.5> PASS
    <font size = 3.5>

In [6]:
for q in range(4):
    if q==3:
        pass
    print(q)

0
1
2
3

<font size=5.5> "while loop"
    <font size=3.5>
        <li> Works till acertain condition is meet.

In [4]:
# Display the numbers divisible by 5 from a list.

l = [1,15,20,23,39]
if l%5==0:
    print(l)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [5]:
# Display the numbers divisible by 5 from a list.

l = [1,15,20,23,39]
for l in [1,15,20,23,39]:
    l%5==0
    print(l)

1
15
20
23
39

### DONE -- Display the numbers divisible by 5 from a list.

In [8]:
# Display the numbers divisible by 5 from a list.

l = [1,15,20,23,39,55]
for l in [1,15,20,23,39,55]:
    if l%5==0:
        print(l)

15
20
55

In [1]:
# Display the numbers divisible by 5 from a list.

for l in l = [1,15,20,23,39,55]:
    if l%5==0:
        print(l)

SyntaxError: invalid syntax (2025028566.py, line 3)

In [2]:
# Display the numbers divisible by 5 from a list.

for l in l == [1,15,20,23,39,55]:
    if l%5==0:
        print(l)

NameError: name 'l' is not defined

In [1]:
x = [1,2,3,4,5]
for a in x:
    print(a)

1
2
3
4
5

In [2]:
x = [1,2,3,4,5]
for a in x:
    print(a)
print("Value of a:",a)

1
2
3
4
5
Value of a: 5

In [3]:
y = (78,123,34,101)
for c in y:
    print(c)

78
123
34
101

In [2]:
for x in range(0,4):
    print(x)                   # indentation and print() -- function "ALWAYS PRINT In NEW LINE"

0
1
2
3

In [3]:
x = list(range(0,4))
print(x)

[0, 1, 2, 3]

In [4]:
x = list(range(0,4))
print(x[0])
print(x[1])
print(x[2])
print(x[3])

0
1
2
3

In [7]:
x = (range(0,4))
print(x[0])
print(x[1])
print(x[2])
print(x[3])

0
1
2
3

In [8]:
print(x)

range(0, 4)

In [9]:
x = (range(0,4))
x[::1]

range(0, 4)

In [10]:
x = range(0,4)
x[::1]

range(0, 4)

In [11]:
x = range(0,4)   # "ANSWER"  -- 
print(x[0])
print(x[1])
print(x[2])
print(x[3])

0
1
2
3

In [12]:
y = range(0,5)
for a in y:
    print(a)

0
1
2
3
4

In [14]:
for x in [True,"six",9]:
    print(x)

True
six
9

In [15]:
# Print sum of all even numbers from 1 to 10
for x in range(1,11):
    if x%2==0:
        print(x)

2
4
6
8
10

In [16]:
# Print sum of all even numbers from 1 to 10
for x in range(1,11):
    if x%2==0:
        if x=+ = x:
            print(x)

SyntaxError: invalid syntax (867521355.py, line 4)

In [18]:
# Print sum of all even numbers from 1 to 10
for x in range(1,11):
    if x%2==0:
        if x+= x:
            print(x)

SyntaxError: invalid syntax (1655817867.py, line 4)

In [2]:
# Print sum of all even numbers from 1 to 10
for y in range(1,11):
    y+= y
    print(y)

2
4
6
8
10
12
14
16
18
20

In [4]:
# Print sum of all even numbers from 1 to 10
for x in range(1,11):
    x+= x
print(x)

20

In [4]:
# Print sum of all even numbers from 1 to 10
for x in range(1,11):
    x*(x+1)
print(x)

10

In [ ]:
# Print sum of all even numbers from 1 to 10
for x in range(1,11):
    x*(x+1)
print(x)

### Mathematics  formula -- N*(N+1)

In [16]:
# Print sum of "First n " even numbers.
n = int(input("Enter n - sum of first n even numbers: "))
Sum = n*(n+1)
print(Sum)

Enter n - sum of first n even numbers: 10
110

In [4]:
# Print sum of all even numbers from 1 to 10
sum = 0
for z in range(2,11,2):
    sum = sum + z
print(sum)

30

In [1]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
n = int(input("Enter the value of n:"))
for z in range(2,n,2):
    sum = sum + z
print(sum)

Enter the value of n:21
110

In [2]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
n1 = int(input("Enter the starting value:"))
n2 = int(input("Enter the stop value:"))
for z in range(n1,n2,2):
    sum = sum + z
print(sum)

Enter the starting value:0
Enter the stop value:11
30

## THink from Point of VIEW of "USER" -- not programmer

In [1]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop  = int(input("Enter the stop value:"))
for z in range(start,stop,2):
    sum = sum + z
print(sum)

Enter the start value:1
Enter the stop value:10
25

In [1]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop  = int(input("Enter the stop value:"))
for z in range(start,(stop+1),2):
    sum = sum + z
print(sum)

Enter the start value:1
Enter the stop value:10
25

In [2]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
(stop+1)  = int(input("Enter the stop value:"))
for z in range(start,(stop),2):
    sum = sum + z
print(sum)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (187438567.py, line 5)

In [1]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop = int(input("Enter the stop value:"))
(stop = stop+1)
for z in range(start,(stop),2):
    sum = sum + z
print(sum)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3371936186.py, line 6)

In [3]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop = int(input("Enter the stop value:"))
(stop == stop+1)
for z in range(start,(stop+1),2):
    sum = sum + z
print(sum)

Enter the start value:1
Enter the stop value:10
25

In [4]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop = int(input("Enter the stop value:")+1)
for z in range(start,(stop),2):
    sum = sum + z
print(sum)

Enter the start value:1
Enter the stop value:10

TypeError: can only concatenate str (not "int") to str

In [3]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop = (1+int(input("Enter the stop value:")))
print(start)
print(stop)
for z in range(start,(stop),2):
    sum = sum + z
print(sum)

Enter the start value:1
Enter the stop value:10
1
11
25

In [4]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop = (1+int(input("Enter the stop value:")))
print(start)
print(stop)
for z in range(start,(stop),2):
    sum = sum + z
    print(sum)

Enter the start value:1
Enter the stop value:10
1
11
1
4
9
16
25

In [5]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop = (1+int(input("Enter the stop value:")))
print(start)
print(stop)
for z in range(start,(stop)) and z%2==0:
    sum = sum + z
    print(sum)

Enter the start value:1
Enter the stop value:10
1
11

TypeError: 'bool' object is not iterable

## --- "Done"

In [1]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    if z%2==0:
        sum = sum + z
print(sum)

Enter the start value:1
Enter the stop value:11
1
12
30

In [4]:
# Ask the user for the range from which the sum of the even numbers should be printed.
# eg. 10 to 20, 60 to 1000, 70 to 80
sum = 0
start = int(input("Enter the start value:"))
stop = 1+ int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    sum = sum + z
print(sum)

Enter the start value:1
Enter the stop value:11
1
12
66

In [5]:
# square each number inside a list and finally print it.

x = [1,2,3,4,5,6,7]
y = [1**1,2**2,3**3,4**4,5**5,6**6,7**7]
x,y = y,x
print(x)

[1, 4, 27, 256, 3125, 46656, 823543]

In [6]:
# square each number inside a list and finally print it.

x = [1,2,3,4,5,6,7]
y = [1**1,2**2,3**2,4**2,5**2,6**2,7**2]
x,y = y,x
print(x)

[1, 4, 9, 16, 25, 36, 49]

In [8]:
# square each number inside a list and finally print it.  -- use "for" loop.

for x in list[1,2,3,4,5,6,7]:
print(x)

IndentationError: expected an indented block after 'for' statement on line 3 (3658304394.py, line 4)

In [9]:
# square each number inside a list and finally print it.  -- use "for" loop.

for x in list[1,2,3,4,5,6,7]:
    print(x)

TypeError: 'types.GenericAlias' object is not iterable

In [10]:
# square each number inside a list and finally print it.  -- use "for" loop.

for x in [1,2,3,4,5,6,7]:
    print(x)

1
2
3
4
5
6
7

In [11]:
# square each number inside a list and finally print it.  -- use "for" loop.

for x in [1,2,3,4,5,6,7]:
    print(x**2)

1
4
9
16
25
36
49

In [4]:
# square each number inside a list and finally print it.  -- use "for" loop.

for x in [1,2,3,4,5,6,7]:
    x = (x**2)
    print(x)

1
4
9
16
25
36
49

### Old Method -- By Bhumika ji

In [3]:
ll = [1,2,3,4,5]
ll[0] = 1**2
ll[1] = 2**2
ll[2] = 3**2
ll[3] = 4**2
ll[4] = 5**2
print(ll)

[1, 4, 9, 16, 25]

In [4]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x []= (x**2)
    print(x)

SyntaxError: invalid syntax (2442530725.py, line 4)

In [5]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x[]= (x**2)
    print(x)

SyntaxError: invalid syntax (2232581231.py, line 4)

In [6]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    (x**2) == x[]
    print(x)

SyntaxError: invalid syntax (3787862308.py, line 4)

In [7]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    n = range(0,4)
    x[n] == (x**2) 
    print(x)

TypeError: 'int' object is not subscriptable

In [8]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    n = int(range(0,4))
    x[n] == (x**2) 
    print(x)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'range'

In [9]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    n <= 3
    x[n] == (x**2) 
    print(x)

TypeError: '<=' not supported between instances of 'range' and 'int'

In [10]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    n <==3
    x[n] == (x**2) 
    print(x)

SyntaxError: invalid syntax (1652211573.py, line 4)

In [11]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
n = int(input("Enter value of n:"))-1
for x in [1,2,3,4]:
    x[n] == (x**2) 
    print(x)         # "Subscriptable" means an object supports subscription

Enter value of n:4

TypeError: 'int' object is not subscriptable

In [12]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
n = int(input("Enter value of n:"))-1
for x in [1,2,3,4]:
    x[int(n)] == (x**2) 
    print(x)

Enter value of n:4

TypeError: 'int' object is not subscriptable

In [13]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
n = (int(input("Enter value of n:"))-1)
for x in [1,2,3,4]:
    x[n] == (x**2) 
    print(x)

Enter value of n:4

TypeError: 'int' object is not subscriptable

In [14]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
n = (int(input("Enter value of n:"))-1)
for x in [1,2,3,4]:
    n == (x**2) 
    print(x)

Enter value of n:4
1
2
3
4

In [15]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
n = (int(input("Enter value of n:"))-1)
for x in [1,2,3,4]:
    n == (x**2) 
print(x)

Enter value of n:4
4

In [16]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
n = (int(input("Enter value of n:"))-1)
for x in [1,2,3,4]:
    x[n] = (x**2) 
    print(x)

Enter value of n:4

TypeError: 'int' object does not support item assignment

In [17]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x[0] = (x**2) 
    print(x)

TypeError: 'int' object does not support item assignment

In [18]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x[0] == (x**2) 
    print(x)

TypeError: 'int' object is not subscriptable

In [19]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x(range(0,4)) == (x**2) 
    print(x)

TypeError: 'int' object is not callable

In [20]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    n = range(0,4)
    x[n] == (x**2) 
    print(x)

TypeError: 'int' object is not subscriptable

In [21]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    n = int(range(0,4))
    x[n] == (x**2) 
    print(x)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'range'

In [22]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    n = int(str(0,1,2,3))
    x[n] == (x**2) 
    print(x)

TypeError: str() takes at most 3 arguments (4 given)

In [23]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    n = int(str("0","1","2","3"))
    x[n] == (x**2) 
    print(x)

TypeError: str() takes at most 3 arguments (4 given)

In [25]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    if n = int():
        n<=3
    x[n] == (x**2) 
    print(x)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3804206848.py, line 4)

In [26]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    if n == int():
        n<=3
    x[n] == (x**2) 
    print(x)

TypeError: 'int' object is not subscriptable

In [8]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x = (x**2) 
    print(x)

1
4
9
16

In [9]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x = (x**2) 
    print(x[])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2312091629.py, line 5)

In [10]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x = (x**2) 
    print(x,[])

1 []
4 []
9 []
16 []

In [11]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x[1,2,3,4] = (x**2) 
    print(x)

TypeError: 'int' object does not support item assignment

In [12]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x() = (x**2) 
    print(x)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2508369464.py, line 4)

In [13]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    x() == (x**2) 
    print(x)

TypeError: 'int' object is not callable

In [14]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    n = {0,1,2,3}
    x[n] = (x**2) 
    print(x)

TypeError: 'int' object does not support item assignment

In [15]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    for n in {0,1,2,3}:
        x[n] = (x**2) 
    print(x)

TypeError: 'int' object does not support item assignment

In [24]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    if 0<n<=3:
        x[n] == (x**2)
    print(x)

1
2
3
4

In [26]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    if 0<n<=3:
        n=0, x[0] = (x**2)
        n=1, x[1] = (x**2)
        n=2, x[2] = (x**2)
        n=3, x[3] = (x**2)
    print(x)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3978412143.py, line 5)

In [27]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    if 0<n<=3:
        n==0, x[0] = (x**2)
        n==1, x[1] = (x**2)
        n==2, x[2] = (x**2)
        n==3, x[3] = (x**2)
    print(x)

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (237246915.py, line 5)

In [28]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
for x in [1,2,3,4]:
    if 0<n<=3:
        n==0, x[0] == (x**2)
        n==1, x[1] == (x**2)
        n==2, x[2] == (x**2)
        n==3, x[3] == (x**2)
    print(x)

1
2
3
4

In [7]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
y = 0
for x in [1,2,3,4]:
    i = 2
    y =x.append(x*i)
    print(x)

AttributeError: 'int' object has no attribute 'append'

In [8]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
y = 0
for x in [1,2,3,4]:
    i = 2
    y =x.append(list(x*i))
    print(x)

AttributeError: 'int' object has no attribute 'append'

In [9]:
# square each number inside a list and finally print it.  -- use "for" loop.
x = [1,2,3,4]
y = 0
for x in [1,2,3,4]:
    i = 2
    y =x.append("x*i")
    print(x)

AttributeError: 'int' object has no attribute 'append'

### "if-else" in "for" loop

In [1]:
# Classify numbers from 1 to 100 as even or odd

for x in range(0,6):
    if n%2!=0:
        print(n,"is odd")
    else:
        print(n,"is even")

NameError: name 'n' is not defined

In [3]:
# Classify numbers from 1 to 100 as even or odd

for x in range(0,6):
    if x%2!=0:
        print(x,"is odd")
    else:
        print(x,"is even")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd

## "DONE" 
- Classify numbers from 1 to 100 as even or odd

In [2]:
# Classify numbers from 1 to 100 as even or odd

for x in range(1,101):
    if x%2!=0:
        print(x,"is odd")
    else:
        print(x,"is even")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

### By Bhumika ji  --- "Don't Google"

In [1]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for i in range(1,11):
    if i%2==0:
        Sum+=i
print("Sum of all Even Numbers in between 1 to 10: ", Sum)  # This "STATEMENT is OUT SIDE -- 'for' LOOP"

Sum of all Even Numbers in between 1 to 10:  30

## Different coding

In [2]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in range(1,11):
    if x%2==0:
        Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

Sum of all Even Numbers in between 1 to 10:  30

In [3]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in range(1,11):
    x%2==0:
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)

SyntaxError: invalid syntax (890448144.py, line 5)

In [3]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in range(1,11):
    x%2==0
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)   # This "STATEMENT is OUT SIDE -- 'for' LOOP"

Sum of all Even Numbers in between 1 to 10:  55

In [2]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in range(1,11):
    if x%2==0:
        Sum = Sum + x
        print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

Sum of all Even Numbers in between 1 to 10:  2
Sum of all Even Numbers in between 1 to 10:  6
Sum of all Even Numbers in between 1 to 10:  12
Sum of all Even Numbers in between 1 to 10:  20
Sum of all Even Numbers in between 1 to 10:  30

In [3]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in range(1,11):
    if x%2==0:
        Sum = Sum + x
    print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

Sum of all Even Numbers in between 1 to 10:  0
Sum of all Even Numbers in between 1 to 10:  2
Sum of all Even Numbers in between 1 to 10:  2
Sum of all Even Numbers in between 1 to 10:  6
Sum of all Even Numbers in between 1 to 10:  6
Sum of all Even Numbers in between 1 to 10:  12
Sum of all Even Numbers in between 1 to 10:  12
Sum of all Even Numbers in between 1 to 10:  20
Sum of all Even Numbers in between 1 to 10:  20
Sum of all Even Numbers in between 1 to 10:  30

In [4]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in range(1,11):
    x%2==0:
    Sum = Sum + x
    
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

SyntaxError: invalid syntax (3454816231.py, line 5)

In [6]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in range(1,11):
    x%2==0 and Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

SyntaxError: cannot assign to expression (3001214849.py, line 5)

In [7]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in range(1,11):
    x[::1]
    x%2==0
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

TypeError: 'int' object is not subscriptable

In [8]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in range(1,11):
    x[:1]
    x%2==0
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

TypeError: 'int' object is not subscriptable

In [9]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in list(range(1,11)):
    x[::2]
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

TypeError: 'int' object is not subscriptable

In [10]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in list(range(1,11)):
    x[::]
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

TypeError: 'int' object is not subscriptable

In [11]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in list(range(1,11)):
    print(x)
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

1
2
3
4
5
6
7
8
9
10
Sum of all Even Numbers in between 1 to 10:  55

In [12]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in list(range(1,11)):
    print(x[2])
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

TypeError: 'int' object is not subscriptable

In [13]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in int(range(1,11):
    x[::2]
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

SyntaxError: invalid syntax (3108605722.py, line 4)

In [14]:
# Print sum of all even numbers from 1 to 10

Sum = 0
for x in int(range(1,11)):
    x[::2]
    Sum = Sum + x
print("Sum of all Even Numbers in between 1 to 10: ", Sum)    # This "STATEMENT is OUT SIDE -- 'for' LOOP"

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'range'

In [6]:
print(x)

[0, 1, 2, 3]

In [5]:
x = list(range(0,4))
print(x[::1])

[0, 1, 2, 3]

In [1]:
list(range(0,4))

[0, 1, 2, 3]

In [13]:
ll = [2,5,23,45,68,70,12]
for x in ll:
    if ll%5==0:
        print(ll)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [1]:
# Print pattern
f = list(range(int(intput())))
for e in f:
    g = str(e)
    print(e*g)

NameError: name 'intput' is not defined

In [3]:
# Print pattern
f = list(range(int(input())))
for e in f:
    g = str(e)
    print(e*g)

9

1
22
333
4444
55555
666666
7777777
88888888

In [4]:
# Print pattern
f = list(range(int(input())))+1
for e in f:
    g = str(e)
    print(e*g)

10

TypeError: can only concatenate list (not "int") to list

In [2]:
# Print pattern
f = list(range(1+int(input())))
for e in f:
    g = str(e)
    print(e*g)

4

1
22
333
4444

In [6]:
# Print pattern
f = range(1+int(input()))
for e in f:
    g = str(e)
    print(e*g)

4

1
22
333
4444

In [4]:
# Print pattern
f = range(1+int(input()))
for e in f:
    g = str(e)
    print(e" "*g)

SyntaxError: invalid syntax (3742311178.py, line 5)

In [5]:
# Print pattern
f = range(1+int(input()))
for e in f:
    g = str(e)
    print(e  *g)

4

1
22
333
4444

In [1]:
# Print pattern
f = list(range(1+int(input())))
for e in f:
    g = str(e)
    print(e *g)

5

1
22
333
4444
55555

In [13]:
# Print pattern
f = list(range(1+int(input())))
print(f)
f.reverse()
print(f)
print(r)
for e in f:
    g = str(e)
    print(g)
    print(e*g)

4
[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]
None
4
4444
3
333
2
22
1
1
0

In [14]:
# Print pattern
f = list(range(1+int(input())))
print(f)
f.reverse()
print(f)
for e in f:
    g = str(e)
    print(g)
    print(e*g)

5
[0, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 0]
5
55555
4
4444
3
333
2
22
1
1
0

In [15]:
# Print pattern
f = list(range(1+int(input())))
f.reverse()
print(f)
for e in f:
    g = str(e)
    print(e*g)
f.reverse()
for e in f:
    g = str(e)
    print(e*g)

5
[5, 4, 3, 2, 1, 0]
55555
4444
333
22
1


1
22
333
4444
55555

In [17]:
# Print pattern
f = list(range(1+int(input())))
for e in f:
    f.reverse()
    g = str(e)
    print(e*g)
    f.reverse()
    g = str(e)
    print(e*g)

3


1
1
22
22
333
333

In [18]:
# Print pattern
f = list(range(1+int(input())))
for e in f:
    f.reverse()
    g = str(e)
    print(e*g)

5

4444
22
22
4444

In [1]:
# Print pattern
f = list(range(1+int(input())))
for e in f.reverse():
    g = str(e)
    print(e*g)

5

TypeError: 'NoneType' object is not iterable

In [2]:
# Print pattern
f = list(range(1+int(input())))
h = list(range(1+int(input())))
for e in f:
    g = str(e)
    print(e*g)

10

1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010

In [3]:
# Print pattern
f = list(range(1+int(input())))
h = list(range(1+int(input())))
for e in f:
    g = str(e)
    print(e*e)

10
11
0
1
4
9
16
25
36
49
64
81
100

In [5]:
# Print pattern
f = list(range(1+int(input())))
for e in f:
    g = str(e)
    print(e*e*g)

6
12

1
2222
333333333
4444444444444444
5555555555555555555555555
666666666666666666666666666666666666

In [6]:
# Print pattern
f = list(range(1+int(input())))
f.reverse()
for e in f:
    g = str(e)
    print(e*e*g)

6
666666666666666666666666666666666666
5555555555555555555555555
4444444444444444
333333333
2222
1