# Python Input: Take Input from User

-- In Python, using the input() function,  we take input from a user and using the print() function, we display output on the screen. Anything or DATA that comes out of input() function is a string 'OR' Anything in the input() command is a string.

In [1]:
                                             # take value from a user.
name = input('Enter Employee Name: ')

Enter Employee Name: Arjun

In [12]:
                                             # Take value from user

name = input('Enter Employee Name: ')

Enter Employee Name: Aj

In [15]:
x = input(24)

24Aj

In [16]:
y = input(3+5)

8Aj

In [2]:
q = input('Employee number$ and tag number with @ sign---')

Employee number$ and tag number with @ sign---aa

In [3]:
q = input('Employee number$ and tag number with @ sign-- ')

Employee number$ and tag number with @ sign-- Aj

In [3]:
x = input('employee name = ')

employee name = Aj

In [4]:
x = input('Employee name = ')

Employee name = Aj

In [13]:
a = input('Even Number: ')
b = input('Odd Number:  ')
c = a+c                                  # Typing mistake -- IT SHOULD NOT BE REPEATED

print('\n')
print(c)

Even Number: 4
Odd Number:  7

NameError: name 'c' is not defined

In [14]:
a = input('Even Number: ')
b = input('Odd Number:  ')
c = a+b                                  # Concatenation â€“ State of being linked together; series of connected items or events.

print('\n')
print(c)

Even Number: 4
Odd Number:  7


47

In [4]:
Best data scientist = input('Enter the Name of the Data Scientist: ')

SyntaxError: invalid syntax (193105136.py, line 1)

In [6]:
Best_data_scientist = input('Enter the Name of the Best Data Scientist: ')

Enter the Name of the Best Data Scientist: AJ

In [2]:
Scientist = input('Enter the Name of the Data Scientist: ')

print('I am, a Scientist')

Enter the Name of the Data Scientist: AJ
I am, a Scientist

In [9]:
name = input('Enter Employee Name: ')              # take value from a user.
print('Hello, ' + name + '! Nice to meet you.')

Enter Employee Name: Aj
Hello, Aj! Nice to meet you.

In [7]:
name = input('Enter Employee Name: ')              # take value from a user.
print('Hello, ' + name + '! Nice to meet you')

Enter Employee Name: AJ
Hello, AJ! Nice to meet you

In [2]:
Scientist = input('Enter the Name of the Data Scientist: ')

print('I am, DATA Scientist')

Enter the Name of the Data Scientist: Arjun
I am, Scientist

In [3]:
Scientist = input('Enter the Name of the Data Scientist: ')
Age = input('Enter your Age: ')
Salary = input('Enter your Salary: ')
Father-name = input('Enter Father Name: )
                    
print('I am, DATA Scientist')

SyntaxError: unterminated string literal (detected at line 4) (3483424027.py, line 4)

In [4]:
Scientist = input('Enter the Name of the Data Scientist: ')
Age = input('Enter your Age: ')
Salary = input('Enter your Salary: ')
Father-name = input('Enter Father Name: ' )
                    
print('I am, Scientist')

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3594440524.py, line 4)

In [6]:
Scientist = input('Enter the Name of the Data Scientist: ')
Age = input('Enter your Age: ')
Salary = input('Enter your Salary: ')
Father-name == input('Enter Father Name: ' )
                    
print('I am, Scientist')

Enter the Name of the Data Scientist: Arjun
Enter your Age: 40 years
Enter your Salary: 50 lakhs per month

NameError: name 'Father' is not defined

In [7]:
Scientist = input('Enter the Name of the Data Scientist: ')
Age = input('Enter your Age: ')
Salary = input('Enter your Salary: ')
Father-name == input('Enter Father-Name: ' )
                    
print('I am, Scientist')

Enter the Name of the Data Scientist: Arjun
Enter your Age: 40
Enter your Salary: 50 lakh

NameError: name 'Father' is not defined

In [8]:
Scientist = input('Enter the Name of the Data Scientist: ')
Age = input('Enter your Age: ')
Salary = input('Enter your Salary: ')
Father_name == input('Enter Father_Name: ' )
                    
print('I am, Scientist')

Enter the Name of the Data Scientist: Arjun
Enter your Age: 40
Enter your Salary: 50

NameError: name 'Father_name' is not defined

In [9]:
Scientist = input('Enter the Name of the Data Scientist: ')
Age = input('Enter your Age: ')
Salary = input('Enter your Salary: ')
Father = input('Enter Father Name: ' )
                    
print('I am, Scientist')

Enter the Name of the Data Scientist: arjun
Enter your Age: 40
Enter your Salary: 50
Enter Father Name: Late Shri S.K. Gupta
I am, Scientist

In [10]:
Scientist = input('Enter the Name of the Data Scientist: ')
Age = input('Enter your Age: ')
Salary = input('Enter your Salary: ')
Father = input('Enter Father Name: ' )
                    
# print all the fields
print('\n')
print('I am, Scientist')
print('My age is, Age')
print('My Salary is: ')
print('My Father name is')

Enter the Name of the Data Scientist: Arjun
Enter your Age: 40
Enter your Salary: 50
Enter Father Name: SK Gupta


I am, Scientist
My age is, Age
My Salary is:
My Father name is

In [13]:
Scientist = input('Enter the Name of the Data Scientist: ')
Age = input('Enter your Age: ')
Salary = input('Enter your Salary: ')
Father = input('Enter Father Name: ' )
                    
# print all the fields

print('I am, Arjun')
print('My age is: ')
print('My Salary is: ')
print('My Father name is: ')

Enter the Name of the Data Scientist: Arjun
Enter your Age: 40
Enter your Salary: 50
Enter Father Name: SK GUPTA
I am, Arjun
My age is:
My Salary is:
My Father name is:

In [14]:
# Work done today.

Morning = input('Workdone in Morning: ')

Workdone in Morning: Cleaned Cooler

In [15]:
# Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

# Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , 'Salary' , 'Company')
print(name, salary, company)
type(print(name))

Enter Employee Name: Human
Enter salary: 40
Enter company name: Thanos


Print Employee Details
Name Salary Company
Human 40 Thanos
Human

NoneType

In [16]:
# Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

# Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , 'Salary' , 'Company')

Enter Employee Name: AJ
Enter salary: 40
Enter company name: Thanos


Print Employee Details
Name Salary Company

In [1]:
# Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

# Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , 'Salary' , 'Company')
print(name, salary, company) # print data horizontally.
type(print(name))

Enter Employee Name: Aj
Enter salary: 1111111111111
Enter company name: tt


Print Employee Details
Name Salary Company
Aj 1111111111111 tt
Aj

NoneType

In [18]:
print(1,2,3,4,5)

1 2 3 4 5

In [19]:
                                         # Take three values from user
    
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

                                        # Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , 'Salary' , 'Company')
print(name, \nsalary, \ncompany)
type(print(name))

SyntaxError: unexpected character after line continuation character (1092502950.py, line 10)

In [20]:
# Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

# Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , 'Salary' , 'Company')
print(name, \n salary, \n company)
type(print(name))

SyntaxError: unexpected character after line continuation character (4224597115.py, line 10)

In [21]:
# Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

# Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , 'Salary' , 'Company')
print(name,
      salary,
      company)

Enter Employee Name: AJ
Enter salary: 40
Enter company name: TH


Print Employee Details
Name Salary Company
AJ 40 TH

In [22]:
# Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

# Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , 'Salary' , 'Company')
print(name,'\n'salary, '\n' company)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (985242321.py, line 10)

In [23]:
# Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

# Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , '\n Salary' , ' \n Company')
print(name, salary, company)

Enter Employee Name: Aj
Enter salary: 40
Enter company name: TH


Print Employee Details
Name
 Salary
 Company
Aj 40 TH

In [24]:
# Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

# Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , '\n Salary' , ' \n Company')
print(name,'\n' salary, '\n' company)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2243579242.py, line 10)

In [1]:
# Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter company name: ')

# Display all Values on the screen
print('\n') # Next line
print('Print Employee Details')
print('Name' , '\n Salary' , ' \n Company')
print(name,   salary,   company)

Enter Employee Name: AJ
Enter salary: 1cr
Enter company name: Thanos


Print Employee Details
Name
 Salary
 Company
AJ 1cr Thanos

In [2]:
           # Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter Company name: ')

           # Display all Values on the screen
print('\n')                                       # Next line
print('Print Employee Details')
print('Name','\n Salary','\n Company')
print(name,   salary,   company)

Enter Employee Name: AJ
Enter salary: 1cr
Enter company name: Thanos


Print Employee Details
Name
 Salary
 Company
AJ 1cr Thanos

In [3]:
           # Take three values from user
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter Company name: ')

           # Display all Values on the screen   --- Print horizontally
print('\n')                                       # Next line
print('Print Employee Details')
print('Name','\n Salary','\n Company')
print(name,   
      salary,   
      company)

Enter Employee Name: AJ
Enter salary: 1cr
Enter Company name: Thanos


Print Employee Details
Name
 Salary
 Company
AJ 1cr Thanos

In [4]:
           # Take three values from user  --- 
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter Company name: ')

           # Display all Values on the screen  --- Print vertically
print('\n')                                       # Next line
print('Print Employee Details')
print('Name',name)
print('Salary', salary)
print('Company', company)

Enter Employee Name: Aj
Enter salary: 1cr
Enter Company name: Thanos


Print Employee Details
Name Aj
Salary 1cr
Company Thanos

In [5]:
           # Take three values from user  --- 
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter Company name: ')

           # Display all Values on the screen  --- Print vertically
print('\n')                                       # Next line
print('Print Employee Details')
print('Name    ',name)
print('Salary  ', salary)
print('Company ', company)

Enter Employee Name: Aj
Enter salary: 1cr
Enter Company name: Thanos


Print Employee Details
Name     Aj
Salary   1cr
Company  Thanos

In [6]:
# Take three values from user  --- 
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter Company name: ')

           # Display all Values on the screen  --- Print vertically
print('\n')                                       # Next line
print('Print Employee Details')
print('Name -\t  ',name)
print('Salary-\t ',salary)
print('Company-\t',company)

Enter Employee Name: Aj
Enter salary: 1cr
Enter Company name: Thanos


Print Employee Details
Name -	   Aj
Salary-	  1cr
Company-	 Thanos

In [7]:
           # Take three values from user  --- 
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter Company name: ')

           # Display all Values on the screen  --- Print vertically
print('\n')                                       # Next line
print('Print Employee Details')
print('Name\t -\t ',name)
print('Salary\t-\t ',salary)
print('Company\t-\t',company)

Enter Employee Name: Aj
Enter salary: 1cr
Enter Company name: Thanos


Print Employee Details
Name	 -	   Aj
Salary	-	  1cr
Company	-	 Thanos

In [8]:
# Take three values from user  --- 
name = input('Enter Employee Name: ')
salary = input('Enter salary: ')
company = input('Enter Company name: ')

           # Display all Values on the screen  --- Print vertically
print('\n')                                       # Next line
print('Print Employee Details')
print('Name\t-\t',name)
print('Salary\t-\t',salary)
print('Company\t-\t',company)

Enter Employee Name: Aj
Enter salary: 1cr
Enter Company name: Thanos


Print Employee Details
Name	-	 Aj
Salary	-	 1cr
Company	-	 Thanos

In [9]:
even = input(x = )
odd  = input(y = )

SyntaxError: invalid syntax (2670486368.py, line 1)

In [10]:
x=input('Even Number')
y=input('Odd Number')
Z=x+y

print('\n')
print(Z)

Even Number7
Odd Number6


76

In [11]:
x=input('Even Number: ')          
y=input('Odd Number:  ')
Z=x+y

print('\n')
print(Z)                  # Concatenation

Even Number: 8
Odd Number:  5


85