In [ ]:
x = input("What is your name: ")
y = input("What is your age: ")
z = input("What is my address: ")

q = x + y + z

### I though that this q is in english - BUT q is now the part of PYthon that is -- a string now.

In [ ]:
x = input("What is your name: ")
y = input("What is your age: ")
z = input("What is my address: ")

q = x + y + z               # I though that this q is in english - BUT q is now the part of PYthon that is -- a string now.
print("q")

### q is a string now.

In [ ]:
x = input("What is your name: ")
y = input("What is your age: ")
z = input("What is my address: ")

q = x + y + z
print(q)                     # q is a string now.

# in input we define things.
# in print we write predefined things.


- rapid typing.

In [ ]:
x = input("What is my goal:  ")
print(x)
y = input("What is my goal2: ")
print(y)
z = input("What is my goal3: ")
print(z)

w = x + y + z
print(w)

In [1]:
x = input("What is my goal:  ")
print(x)
y = input("What is my goal2: ")
print(y)
z = input("What is my goal3: ")
print(z)

w = x + y + z
print("\n" w)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2873535535.py, line 9)

In [ ]:
x = input("What is my goal:  ")
print(x)
y = input("What is my goal2: ")
print(y)
z = input("What is my goal3: ")
print(z)

w = x + y + z
print("\n" , w)

In [1]:
x = input('22')     #  input any Data into the input command and then check Data type.
print(type(x))

22int
<class 'str'>

In [2]:
x = input('22')    #  input any Data into the input command and then check Data type, now change that data into integer again.
print(type(x))
int(x)

22AJ
<class 'str'>

ValueError: invalid literal for int() with base 10: 'AJ'

In [1]:
x = input('Write an odd number: ')    
#  input any Data into the input command and then check Data type, now change that data into integer again.
print(type(x))
int(x)

Write an odd number: 7
<class 'str'>

7

In [2]:
x = input('Write an odd number: ')
#  input any Data into the input command and then check Data type, now change that data into integer again.
print(type(x))
int(x)
print(type(x))

Write an odd number: 7
<class 'str'>
<class 'str'>

In [1]:
x = input('Write an odd number: ')
#  input any Data into the input command and then check Data type, now change that data into integer again.
print(type(x))
x = int(x)
print(type(x))

Write an odd number: 9
<class 'str'>
<class 'int'>

In [4]:
x = input('Write an odd number: ')
#  input any Data into the input command and then check Data type, now change that data into integer again.
print(type(x))
int(print(x))
print(type(x))

Write an odd number: 9
<class 'str'>
9

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [5]:
x = input('Write an odd number: ')    #  input any Data into the input command and then check Data type, now change that data into integer again.
print(type(x))
int('x')
print(type(x))

Write an odd number: 9
<class 'str'>

ValueError: invalid literal for int() with base 10: 'x'

In [6]:
x = input('Write an odd number: ')    #  input any Data into the input command and then check Data type, now change that data into integer again.
print(type(x))
int(x)
print(type(x))

Write an odd number: 9
<class 'str'>
<class 'str'>

In [7]:
x = input('Write an odd number: ')    #  input any Data into the input command and then check Data type, now change that data into integer again.
print(type(x))
y = int(x)
print(y)
type(y)

Write an odd number: 9
<class 'str'>
9

int

In [8]:
x = int(input('Write an odd number:'))
print(type(x))

Write an odd number:9
<class 'int'>

In [9]:
Marks = float(input('Enter Marks: '))
print('\n')
print('Students marks is: ', Marks)
print('Type is: ', type(marks))

Enter Marks: 50


Students marks is:  50.0

NameError: name 'marks' is not defined

In [10]:
Marks = float(input('Enter Marks: '))
print('\n')
print('Students marks is: ', Marks)
print('Type is: ', type(Marks))

Enter Marks: 55


Students marks is:  55.0
Type is:  <class 'float'>

In [11]:
Marks = bool(input('Enter Marks: '))
print('\n')
print('Students marks is: ', Marks)
print('Type is: ', type(Marks))

Enter Marks: 499


Students marks is:  True
Type is:  <class 'bool'>

In [12]:
Marks = complex(input('Enter Marks: '))
print('\n')
print('Students marks is: ', Marks)
print('Type is: ', type(Marks))

Enter Marks: 399


Students marks is:  (399+0j)
Type is:  <class 'complex'>

In [13]:
Marks = int(input('Enter Marks: '))
print('\n')
print('Students marks is: ', Marks)
print('Type is: ', type(Marks))

Enter Marks: 3999


Students marks is:  3999
Type is:  <class 'int'>

In [14]:
salary = str(input('Enter salary:' (print(type(salary)))))

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\user\AppData\Local\Temp\ipykernel_9656\3281282769.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  salary = str(input('Enter salary:' (print(type(salary)))))
C:\Users\user\AppData\Local\Temp\ipykernel_9656\3281282769.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  salary = str(input('Enter salary:' (print(type(salary)))))
C:\Users\user\AppData\Local\Temp\ipykernel_9656\3281282769.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  salary = str(input('Enter salary:' (print(type(salary)))))

NameError: name 'salary' is not defined

In [15]:
salary = str(input('Enter salary:' (print))))

SyntaxError: unmatched ')' (1321523779.py, line 1)

In [16]:
salary = str(input('Enter salary:', (print''\n' My salary:', salary))))

SyntaxError: unexpected character after line continuation character (2462692994.py, line 1)

In [17]:
salary = str(input('Enter salary:', (print'\n My salary:', salary))))

SyntaxError: unmatched ')' (1928499510.py, line 1)

In [18]:
salary = str(input('Enter salary:', (print''\n' My salary:', salary)))

SyntaxError: unexpected character after line continuation character (353648596.py, line 1)

In [19]:
salary = str(input('Enter salary:', (print'\n My salary:', salary)))

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (494256302.py, line 1)

In [20]:
salary = str(input('Enter salary:', (print('\n My salary:', salary))))

NameError: name 'salary' is not defined

In [21]:
salary = str(input('Enter salary:' (print('\n My salary:', salary))))

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\user\AppData\Local\Temp\ipykernel_9656\3863690487.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  salary = str(input('Enter salary:' (print('\n My salary:', salary))))
C:\Users\user\AppData\Local\Temp\ipykernel_9656\3863690487.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  salary = str(input('Enter salary:' (print('\n My salary:', salary))))
C:\Users\user\AppData\Local\Temp\ipykernel_9656\3863690487.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  salary = str(input('Enter salary:' (print('\n My salary:', salary))))

NameError: name 'salary' is not defined

In [22]:
Salary = str(input('Enter Salary:', (print('\n My Salary:', Salary))))

NameError: name 'Salary' is not defined

In [23]:
Salary = str(input('Enter Salary:', (print('\n' My Salary:', Salary))))

SyntaxError: unterminated string literal (detected at line 1) (2217413731.py, line 1)

In [24]:
Salary = str(input('Enter Salary:', (print('\n' 'My Salary:', Salary))))

NameError: name 'Salary' is not defined

In [25]:
Salary = str(input('Enter Salary:', (print('\n My Salary:', input(Salary)))))

NameError: name 'Salary' is not defined

In [26]:
Salary = str(input('Salary is:', (print('\n My Salary:', Salary = int(input('Enter Salary:'))))))

Enter Salary:100000000000000000

TypeError: 'Salary' is an invalid keyword argument for print()

In [27]:
Salary = str(print('Salary is:', (print('\n My Salary:', Salary = int(input('Enter Salary:'))))))

Enter Salary:100000000000000

TypeError: 'Salary' is an invalid keyword argument for print()

In [28]:
Salary = str(input('Salary is:', (print('\n' 'My Salary:', Salary = int(input('Enter Salary:'))))))

Enter Salary:100000000000000

TypeError: 'Salary' is an invalid keyword argument for print()

In [29]:
Salary = str(input('Salary is:', (print('\n My Salary:',Salary) Salary = int(input('Enter Salary:')))))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1276842792.py, line 1)

In [30]:
Salary = str(input('Salary is:', (print('\n' 'My Salary:',Salary) Salary = int(input('Enter Salary:')))))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3613083849.py, line 1)

In [31]:
Salary = str(input('Salary is:', (print('\n My Salary:') Salary = int(input('Enter Salary:')))))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1388400286.py, line 1)

In [32]:
Salary = str(input('Salary is:', (print('\n' 'My Salary:') Salary = int(input('Enter Salary:')))))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1315210999.py, line 1)

In [33]:
Salary = str(input('Salary is:', Salary (print('\n' 'My Salary:') Salary = int(input('Enter Salary:')))))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2728738073.py, line 1)

A “SyntaxError: invalid syntax. Perhaps you forgot a comma?” indicates that there is a problem with the quotation mark opening and closing (“ ”) of our code.

In [34]:
Salary = str(input('Salary is:', Salary (print('\n' 'My Salary:'), Salary = int(input('Enter Salary:')))))

NameError: name 'Salary' is not defined

In [35]:
Salary = str(input('Salary is:', (print('\n' 'My Salary:'), Salary = int(input('Enter Salary:')))))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3496212731.py, line 1)

In [36]:
Salary = str(input('Salary is:', (print('\n' 'My Salary:'), Salary == int(input('Enter Salary:')))))

My Salary:

NameError: name 'Salary' is not defined

### What Is a NameError in Python? In Python, the NameError occurs when you try to use a variable, function, or module that doesn't exist or wasn't used in a valid way. Some of the common mistakes that cause this error are: Using a variable or function name that is yet to be defined.

In [37]:
Salary = str(input('Salary is:', (print('\n' 'My Salary:'), Salary = int(input('Enter Salary:')))))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2139430498.py, line 1)

In [38]:
Salary = str(input('Salary is:', (print('\n' 'My Salary:'), Salary == int(input('Enter Salary:')))))

My Salary:

NameError: name 'Salary' is not defined

Marks = int(input('Enter Marks: '))

print('\n')

print('Students marks is: ', Marks)

print('Type is: ', type(Marks))

In [39]:
Salary = str(input('Salary is:', (print('\n' 'My Salary:')), Salary == int(input('Enter Salary:'))))

My Salary:

NameError: name 'Salary' is not defined

In [3]:
Salary = str(print('Salary is:', (print('\n' 'My Salary:', Salary = int(input('Enter Salary:'))))))

Enter Salary:1000000000000000000

TypeError: 'Salary' is an invalid keyword argument for print()

In [41]:
Salary = str(print('Salary is:', (print('\n' 'My Salary:'), Salary = int(input('Enter Salary:')))))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4228308090.py, line 1)

In [42]:
Salary = str(print('Salary is:', (print('\n' 'My Salary:'), Salary == int(input('Enter Salary:')))))

My Salary:

NameError: name 'Salary' is not defined

In [43]:
Salary = str(print('Salary is:', (print('\n' 'My Salary:', Salary = int(input('Enter Salary:'))))))

Enter Salary:1000000000000

TypeError: 'Salary' is an invalid keyword argument for print()

In [44]:
Salary = int(print('Salary is:', (print('\n' 'My Salary:', Salary = int(input('Enter Salary:'))))))

Enter Salary:100000000000

TypeError: 'Salary' is an invalid keyword argument for print()

In [3]:
Salary = int(print'Type is: ', type(Salary ('Salary is:', Salary (print('\n', Salary = int(input('Enter Salary:')))))))

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2044642421.py, line 1)

In [4]:
Salary = print'Type is: ', type(Salary ('Salary is:', Salary (print('\n', Salary = int(input('Enter Salary:'))))))

# Six parentheses in Long CODING! then six parentheses in SHORT CODING!  
# Meaning of parentheses may be brackets().

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1246725642.py, line 1)

In [5]:
Salary = print('Type is: ', type(Salary ('Salary is:', Salary (print('\n', Salary = int(input('Enter Salary:'))))))

SyntaxError: incomplete input (427080650.py, line 1)

In [6]:
Salary = print('Type is: ', type(Salary ('Salary is:', Salary (print('\n', Salary = int(input('Enter Salary:')))))))

NameError: name 'Salary' is not defined

In [1]:
Salary = print('Type is: ', type(Salary) ('Salary is:', Salary (print('\n', Salary = int(input('Enter Salary:'))))))

NameError: name 'Salary' is not defined

In [4]:
Salary = print('Type is: ', type(int(Salary)) ('Salary is:', Salary (print('\n', Salary = int(input('Enter Salary:'))))))

NameError: name 'Salary' is not defined

In [5]:
Salary = print('Type is: ', type(int(Salary)) ('Salary is:', Salary = int(input('Enter Salary:') (print('\n', Salary = int(input('Enter Salary:'))))))

SyntaxError: incomplete input (3664860649.py, line 1)

In [6]:
Salary = print('Type is: ', type(int(Salary)) ('Salary is:', Salary = int(input('Enter Salary:') (print('\n', Salary = int(input('Enter Salary:')))))))

NameError: name 'Salary' is not defined

In [7]:
Salary = print('Type is: ' Salary = int(input('Enter Salary:'), type(int(Salary)) ('Salary is:', Salary = int(input('Enter Salary:') (print('\n', Salary = int(input('Enter Salary:')))))))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1096407275.py, line 1)

In [ ]:
Salary = int(input('Enter Salary:'))

Enter Salary:100000000000

In [2]:
Salary = print('Type is: ' Salary = int(input('Enter Salary:'), type(int('Salary')) ('Salary is:', Salary = int(input('Enter Salary:') (print('\n', Salary = int(input('Enter Salary:')))))))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1021323114.py, line 1)

In [3]:
Salary = print('Type is: ' Salary = int(input('Enter Salary:'), type(int('Salary')) ('Salary is:', Salary = int(input('Enter Salary:') , (print('\n', Salary = int(input('Enter Salary:')))))))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4030357079.py, line 1)

In [4]:
Salary = print('Type is: ', type('Salary') (Salary is:', Salary (print('\n', Salary = int(input('Enter Salary:'))))))

SyntaxError: invalid syntax (3531019275.py, line 1)

In [6]:
Salary = print('Type is: ', type('Salary') ( Salary (print('\n', Salary = int(input('Enter Salary:'))))))

NameError: name 'Salary' is not defined

In [1]:
print'('\n', Salary = int(input('Enter Salary:'))'  ### quotations are not allowed outside the parenteses

SyntaxError: unexpected character after line continuation character (2191106026.py, line 1)

In [2]:
print('\n', Salary = int(input('Enter Salary:')))

Enter Salary:100000000000

TypeError: 'Salary' is an invalid keyword argument for print()

In [3]:
print(salary)

NameError: name 'salary' is not defined

In [9]:
print('salary')

salary

In [4]:
print(int(input('Enter Salary:')))

Enter Salary:10000000
10000000

In [5]:
print('\n', 'Salary' = int(input('Enter Salary:')))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2634341501.py, line 1)

In [6]:
print(x = 10)    #### print invalid keyword argument -- print -- only pre-defined keywords

TypeError: 'x' is an invalid keyword argument for print()

In [7]:
x = 10
print(x)

10

In [8]:
print('\n', int(input('Enter Salary:')))

Enter Salary:10000000000

 10000000000

# use only pre-defined keywords in the PYthon

- Example in print, int, class...

In [1]:
x = input("Enter roll number:  " , "Name of student:   ")

TypeError: Kernel.raw_input() takes from 1 to 2 positional arguments but 3 were given

In [2]:
x = input("Enter roll number:  " "Name of student:   ")

Enter roll number:  Name of student:   1 - Aj

In [3]:
x = input("Enter roll number and Name of student: ")

Enter roll number and Name of student: 1 AJ