In [1]:
print('I am Data Scientict')

I am Data Scientict

In [2]:
print('I am Data Scientict')  '''Hello'''

SyntaxError: invalid syntax (3039502208.py, line 1)

In [3]:
print('I am Data Scientict')   # print and Doc String are used in different line 
'''Hello'''

I am Data Scientict

'Hello'

# Example of statically typed language 
C++, C , JAVA

In [7]:
print('I am Data Scientict')   # print and Doc String are used in different line 
'''Hello   \   
HELLO'''

I am Data Scientict

'Hello   \\   \nHELLO'

In [8]:
print('I am Data Scientict')   # print and Doc String are used in different line 
'''Hello \   
HELLO'''

I am Data Scientict

'Hello \\   \nHELLO'

In [12]:
print('I am Data Scientict')   # print and Doc String are used in different line 
'''Hello\
HELLO'''

I am Data Scientict

'HelloHELLO'

In [13]:
print('I am Data Scientict')
# print and Doc String are used in different line to show the comment and print in next line 
'''Hello
\
HELLO'''

I am Data Scientict

'Hello\nHELLO'

Commet                             Doc string

aviod                              Not Avioded
has - tag                          no has-tag
None                               Triple quotation

#  DATA type:

Primitive -- Numbers, strings and None

          -- Numbers(float, integer, complex, bool) 
          

Non - Primitive --- list, dictionary, set, tuples

In [14]:
bool("123")

True

In [15]:
int(bool(true))

NameError: name 'true' is not defined

In [16]:
int(bool('true'))

1

In [17]:
int(True)

1

# Type casting:

- int()

- float()

- bool()

- complex()

- str()


   - Not - Told

- tuple()
- list()
- dic()
- set()

# '-' sign is converted to bulleten

In [1]:
int(type(90.9))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'type'

In [3]:
type(float(90))

90

In [4]:
x = 90
type(float(x))
print(x)

90

In [6]:
x = 90
x = float(x)
print(type(x))
print(x)

<class 'float'>
90.0

In [3]:
print(type(float(90)))

<class 'float'>

# Variable

In [4]:
x = 10
y = 11
print(x,y)
print(id(x),id(y))

10 11
2891812700688 2891812700720

In [5]:
x = 10; y = 12; z = y
print(id(x),id(y),id(z))

2891812700688 2891812700752 2891812700752

# operator

In [6]:
46/5

9.2

In [7]:
46//5 # floor division (without point)

9

In [8]:
46%5 # modulas (gives remainder)

1

# Escape Sequences

- \'       - print in single

- \\       -- 
- \n       --
- \b       --
- \t       --
- \r       --

In [9]:
print('\'Python\'')

'Python'