- \\

- \\\

- \\\\

- \\\\\

- \n

- \b

- \t

- \r

In [1]:
print(input(type(int("enter marks: "))))

ValueError: invalid literal for int() with base 10: 'enter marks: '

In [1]:
print(input(type(int(89898))))

<class 'int'>aa
aa

In [2]:
print(input(type(int(89898))))
print(type(aa))                 # aa is not a "VARIABLE HERE"

<class 'int'>aa
aa

NameError: name 'aa' is not defined

In [11]:
print(input(type(srt("enter marks: "))))

NameError: name 'srt' is not defined

In [12]:
print(input(type(str("enter marks: "))))

<class 'str'>Aj
Aj

In [3]:
print("Hellooo\b")

Hellooo

In [4]:
print("Hellooo\b\b")

Hellooo

In [5]:
print("Helloo\b\b\b")

Helloo

In [6]:
print('\'\n\'')

'
'

In [7]:
print("myself\t\t an aspiring Data Scientist")

myself		 an aspiring Data Scientist

In [8]:
print("\\b")

\b

In [9]:
print("Hello \t I'LL be successful \t\t\t Data scientist")

Hello 	 I'LL be successful 			 Data scientist

In [10]:
print("my name is arjun\r I am an aspiring Data Scientist")

 I am an aspiring Data Scientist

In [13]:
name = input("Total students in 6th B: ")
print(" There are " +name+ "students in my class")

Total students in 6th B: 35
 There are 35students in my class

In [14]:
name = input("Total students in 6th B: ")
print(" There are " + name + " students in my class")

Total students in 6th B: 38
 There are 38 students in my class

In [17]:
work = input("water the plants: ")
work two = input("Take bath: ")
work there = input("Do breakfast: ")
work four = input("Go to school: ")
work five = input("Teach: ")

print('\n')
print(" work: ", work)
print(" work two: ", work two)
print(" work three: ", work three)
print(" work four: ", work four)
print(" work five: ", work five)
print(work, work two, work three, work four, work five)

SyntaxError: invalid syntax (1395647937.py, line 2)

In [18]:
work = input("water the plants: ")           # variable cannot contain special characters
work-two = input("Take bath: ")
work-there = input("Do breakfast: ")
work-four = input("Go to school: ")
work-five = input("Teach: ")

print('\n')
print(" work: ", work)
print(" work-two: ", work-two)
print(" work-three: ", work-three)
print(" work-four: ", work-four)
print(" work-five: ", work-five)
print(work, work two, work three, work four, work five)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (797169196.py, line 2)

In [20]:
work = input("water the plants: ")           # variable cannot contain special characters
worktwo = input("Take bath: ")
workthree = input("Do breakfast: ")
workfour = input("Go to school: ")
workfive = input("Teach: ")

print('\n')
print(" work: ", work)
print(" worktwo: ", worktwo)
print(" workthree: ", workthree)
print(" workfour: ", workfour)
print(" workfive: ", workfive)
print(work, worktwo, workthree, workfour, workfive)

water the plants: 4
Take bath: 5
Do breakfast: 6
Go to school: 7
Teach: 8


 work:  4
 worktwo:  5
 workthree:  6
 workfour:  7
 workfive:  8
4 5 6 7 8

In [21]:
Q = input("Value given : ")
print(type(float(Q)), type(int(Q)), type(complex(Q)))

Value given : 55
<class 'float'> <class 'int'> <class 'complex'>

In [22]:
Q = float(input("Value given : "))
print("type is: " , type(Q))

Value given : 55
type is:  <class 'float'>

In [23]:
Arjun = complex(input("son of Arjun: "))
print("\n")
print("son of Arjun: ", Arjun)

son of Arjun: Nomit

ValueError: complex() arg is a malformed string

In [24]:
Arjun = str(input("son of Arjun: "))      # NO need use "str" outside "input command" as output is "STRING ONLY"
print("\n")
print("son of Arjun: ", Arjun)

son of Arjun: Nomit


son of Arjun:  Nomit

In [3]:
Arjun = (input("son of Arjun: "))      # NO need use "str" outside "input command" as output is "STRING ONLY"
print("\n")
print("son of Arjun: ", Arjun)

son of Arjun: Nomit


son of Arjun:  Nomit

In [4]:
flowers = str(input("name of flowers: "))      # NO need use "str" outside "input command" as output is "STRING ONLY"

name of flowers: Lily

In [5]:
flowers = (input("name of flowers: "))         # NO need use "str" outside "input command" as output is "STRING ONLY"

name of flowers: Marigold

In [3]:
print("Name of student""\t\tAA\t\tBB\t\tCC\t\tDD)
print("\n")
print("Hindi          ""\t\t90\t\t80\t\t77\t\t91)
print("\n")
print("English        ""\t\t65\t\t55\t\t88\t\t79)
print("\n")
print("Sanskrit       ""\t\t91\t\t85\t\t75\t\t65)
print("\n")
print("SST            ""\t\t92\t\t88\t\t98\t\t58)

SyntaxError: unterminated string literal (detected at line 1) (196056601.py, line 1)

In [2]:
print("Name of student""\t\tAA\t\tBB\t\tCC\t\tDD")
print("\n")
print("Hindi          ""\t\t90\t\t80\t\t77\t\t91")
print("\n")
print("English        ""\t\t65\t\t55\t\t88\t\t79")
print("\n")
print("Sanskrit       ""\t\t91\t\t85\t\t75\t\t65")
print("\n")
print("SST            ""\t\t92\t\t88\t\t98\t\t58")

Name of student		AA		BB		CC		DD


Hindi          		90		80		77		91


English        		65		55		88		79


Sanskrit       		91		85		75		65


SST            		92		88		98		58

In [4]:
 #  Take two numbers (two digit positive numbers) as inputs form the users and add two numbers in this way x + y = Z 
 # eg 25 + 36 = 2536.
 
 
 #  Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*5 = 25

In [6]:
# take a two digit Integer form user and print the digit at one's place separately.

Data = input(int("Enter a Two Digit integer: "))
print("\n")

x  = Data%10 

print("x")

ValueError: invalid literal for int() with base 10: 'Enter a Two Digit integer: '

In [6]:
# take a two digit Integer form user and print the digit at one's place separately.

Data = int(input("Enter a Two Digit integer: "))
print("\n")

x  = Data%10 

print("x")         # 'x' is a string here, that's why x is printed here
print(x)           # Here 'x' is output

Enter a Two Digit integer: 23


x
3