In [ ]:
# Square each number inside a list and finally print list

## Nested "for" loops

In [5]:
# print the multiplication table of 2.

start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print(2*z)

Enter the start value:1
Enter the stop value:10
1
11
2
4
6
8
10
12
14
16
18
20

In [6]:
# print the multiplication table of 2.

start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print(2," X ",z, "=", z*2)

Enter the start value:1
Enter the stop value:10
1
11
2  X  1 = 2
2  X  2 = 4
2  X  3 = 6
2  X  4 = 8
2  X  5 = 10
2  X  6 = 12
2  X  7 = 14
2  X  8 = 16
2  X  9 = 18
2  X  10 = 20

In [2]:
# print the multiplication table of 2.

start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print("Table of 2, 2*",z "=" 2*z)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (612395826.py, line 8)

In [3]:
# print the multiplication table of 2.

start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print("Table of 2, 2*",z "=", 2*z)

SyntaxError: invalid syntax (3921448572.py, line 8)

In [4]:
# print the multiplication table of 2.

start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print("Table of 2: 2*",z"=",2*z)

SyntaxError: invalid syntax (786011802.py, line 8)

In [7]:
# print the multiplication table of 2.

start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print("Table of 2: 2*",z,"=",2*z)

Enter the start value:1
Enter the stop value:10
1
11
Table of 2: 2* 1 = 2
Table of 2: 2* 2 = 4
Table of 2: 2* 3 = 6
Table of 2: 2* 4 = 8
Table of 2: 2* 5 = 10
Table of 2: 2* 6 = 12
Table of 2: 2* 7 = 14
Table of 2: 2* 8 = 16
Table of 2: 2* 9 = 18
Table of 2: 2* 10 = 20

In [8]:
# print the multiplication table of n.

start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print(n*z)

Enter the start value:1
Enter the stop value:10
1
11

NameError: name 'n' is not defined

In [12]:
# print the multiplication table of n.
n = int(input("Enter the value of n:"))
start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print(n*z)

Enter the value of n:5
Enter the start value:1
Enter the stop value:10
1
11
5
10
15
20
25
30
35
40
45
50

In [1]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
    print(2," X ",z, "=", z*2)
        for z in range(1,11):
        print(3," X ",z, "=", z*3)

IndentationError: unexpected indent (4102903416.py, line 4)

In [14]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
        for z in range(1,11):
        print(2," X ",z, "=", z*2)
        print(3," X ",z, "=", z*3)

IndentationError: expected an indented block after 'for' statement on line 3 (2989316894.py, line 4)

In [ ]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
        for z in range(1,11):
            print(2," X ",z, "=", z*2)
            print(3," X ",z, "=", z*3)

In [2]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
    print(2," X ",z, "=", z*2)
        if z>=10:
        for z in range(1,11):
            print(3," X ",z, "=", z*3)

IndentationError: unexpected indent (4063366365.py, line 4)

## "DONE"

In [5]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
    print(2," X ",z, "=", z*2)
    if z>=10:
        for z in range(1,11):
            print(3," X ",z, "=", z*3)
            if z>=10:
                for z in range(1,11):
                    print(4," X ",z, "=", z*4)
                    if z>=10:
                        for z in range(1,11):
                            print(5," X ",z, "=", z*5)
                            if z>=10:
                                for z in range(1,11):
                                    print(6," X ",z, "=", z*6)
                                    if z>=10:
                                        for z in range(1,11):
                                            print(7," X ",z, "=", z*7)

2  X  1 = 2
2  X  2 = 4
2  X  3 = 6
2  X  4 = 8
2  X  5 = 10
2  X  6 = 12
2  X  7 = 14
2  X  8 = 16
2  X  9 = 18
2  X  10 = 20
3  X  1 = 3
3  X  2 = 6
3  X  3 = 9
3  X  4 = 12
3  X  5 = 15
3  X  6 = 18
3  X  7 = 21
3  X  8 = 24
3  X  9 = 27
3  X  10 = 30
4  X  1 = 4
4  X  2 = 8
4  X  3 = 12
4  X  4 = 16
4  X  5 = 20
4  X  6 = 24
4  X  7 = 28
4  X  8 = 32
4  X  9 = 36
4  X  10 = 40
5  X  1 = 5
5  X  2 = 10
5  X  3 = 15
5  X  4 = 20
5  X  5 = 25
5  X  6 = 30
5  X  7 = 35
5  X  8 = 40
5  X  9 = 45
5  X  10 = 50
6  X  1 = 6
6  X  2 = 12
6  X  3 = 18
6  X  4 = 24
6  X  5 = 30
6  X  6 = 36
6  X  7 = 42
6  X  8 = 48
6  X  9 = 54
6  X  10 = 60
7  X  1 = 7
7  X  2 = 14
7  X  3 = 21
7  X  4 = 28
7  X  5 = 35
7  X  6 = 42
7  X  7 = 49
7  X  8 = 56
7  X  9 = 63
7  X  10 = 70

In [6]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
print(2," X ",z, "=", z*2)
    for z in range(1,11):
print(3," X ",z, "=", z*3)
        for z in range(1,11):
print(4," X ",z, "=", z*4)
            for z in range(1,11):
print(5," X ",z, "=", z*5)
                for z in range(1,11):
print(6," X ",z, "=", z*6)
                    for z in range(1,11):
print(7," X ",z, "=", z*7)

IndentationError: expected an indented block after 'for' statement on line 2 (730161682.py, line 3)

In [7]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
    for z in range(1,11):
        for z in range(1,11):
            for z in range(1,11):
                for z in range(1,11):
                    for z in range(1,11):
print(7," X ",z, "=", z*7)
print(2," X ",z, "=", z*2)
print(3," X ",z, "=", z*3)
print(4," X ",z, "=", z*4)
print(5," X ",z, "=", z*5)
print(6," X ",z, "=", z*6)

IndentationError: expected an indented block after 'for' statement on line 7 (105307067.py, line 8)

In [ ]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
    for z in range(1,11):
        for z in range(1,11):
            for z in range(1,11):
                for z in range(1,11):
                    for z in range(1,11):
                        print(2," X ",z, "=", z*2)
                        print(3," X ",z, "=", z*3)
                        print(4," X ",z, "=", z*4)
                        print(5," X ",z, "=", z*5)
                        print(6," X ",z, "=", z*6)
                        print(7," X ",z, "=", z*7)

## "DONE"

In [10]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
    print(2," X ",z, "=", z*2)
    if z>=10:
        for z in range(1,11):
            print(3," X ",z, "=", z*3)
        for z in range(1,11):
            print(4," X ",z, "=", z*4)
        for z in range(1,11):
            print(5," X ",z, "=", z*5)
        for z in range(1,11):
            print(6," X ",z, "=", z*6)
        for z in range(1,11):
            print(7," X ",z, "=", z*7)

2  X  1 = 2
2  X  2 = 4
2  X  3 = 6
2  X  4 = 8
2  X  5 = 10
2  X  6 = 12
2  X  7 = 14
2  X  8 = 16
2  X  9 = 18
2  X  10 = 20
3  X  1 = 3
3  X  2 = 6
3  X  3 = 9
3  X  4 = 12
3  X  5 = 15
3  X  6 = 18
3  X  7 = 21
3  X  8 = 24
3  X  9 = 27
3  X  10 = 30
4  X  1 = 4
4  X  2 = 8
4  X  3 = 12
4  X  4 = 16
4  X  5 = 20
4  X  6 = 24
4  X  7 = 28
4  X  8 = 32
4  X  9 = 36
4  X  10 = 40
5  X  1 = 5
5  X  2 = 10
5  X  3 = 15
5  X  4 = 20
5  X  5 = 25
5  X  6 = 30
5  X  7 = 35
5  X  8 = 40
5  X  9 = 45
5  X  10 = 50
6  X  1 = 6
6  X  2 = 12
6  X  3 = 18
6  X  4 = 24
6  X  5 = 30
6  X  6 = 36
6  X  7 = 42
6  X  8 = 48
6  X  9 = 54
6  X  10 = 60
7  X  1 = 7
7  X  2 = 14
7  X  3 = 21
7  X  4 = 28
7  X  5 = 35
7  X  6 = 42
7  X  7 = 49
7  X  8 = 56
7  X  9 = 63
7  X  10 = 70

In [1]:
## end -- command in PYthon

print("I am DATA",end="")
print("Scientist")

I am DATAScientist

In [2]:
## end -- command in PYthon

print("I am DATA",end=" ")
print("Scientist")

I am DATA Scientist

In [3]:
## end -- command in PYthon

print("I am DATA",end="_")
print("Scientist")

I am DATA_Scientist

In [4]:
# print "*" in output in line -- using for_loop

for x in range(0,5):
    if x>=4
    print("*")

SyntaxError: expected ':' (3357597154.py, line 4)

In [8]:
# print "*" in output in line -- using for_loop

for x in range(0,5):
    if x>=4:
        print("*")

*

## "DONE"

In [6]:
# print "*" in output in line -- using for_loop

for x in range(0,5):
    print("*")

*
*
*
*
*

In [9]:
# print "*" in output in line -- using for_loop

for x in range(5):
    print("*")

*
*
*
*
*

In [7]:
# print "*" in output in line -- using for_loop
p = input()
for x in range(0,5):
    print("*"*p)

2

TypeError: can't multiply sequence by non-int of type 'str'

In [8]:
# print "*" in output in line -- using for_loop
p = input()
for x in int(range(0,5)):
    print("*"*p)

5

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'range'

In [10]:
# print "*" in output in line -- using for_loop
for x in int(range(0,5)):
    p = str(x)
    print("*"*p)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'range'

In [11]:
# print "*" in output in line -- using for_loop
for x in (range(0,5)):
    p = str(x)
    print("*"*p)

TypeError: can't multiply sequence by non-int of type 'str'

In [1]:
# print "*" in output in line -- using for_loop
X  = int(input())
for X in (range(0,5)):
    p = str(x)
    print(X*p)

*

ValueError: invalid literal for int() with base 10: '*'

In [2]:
# print "*" in output in line -- using for_loop
X  = input()
for X in (range(0,5)):
    p = int()
    print(X*p)

*
0
0
0
0
0

In [3]:
# print "*" in output in line -- using for_loop
X  = input()
for X in (range(0,5)):
    p = range(0,5)
    print(X*p)

5

TypeError: unsupported operand type(s) for *: 'int' and 'range'

In [4]:
# print "*" in output in line -- using for_loop
X  = input()
for X in (range(0,5)):
    p = range(0,5)
    print(X*p)

*

TypeError: unsupported operand type(s) for *: 'int' and 'range'

In [5]:
X  = input()
for X in (range(0,5)):
    p = range(0,5)
    z = X*p
    print(z)

*

TypeError: unsupported operand type(s) for *: 'int' and 'range'

In [6]:
X  = input()
for X in (range(0,5)):
    p = int(range(0,5))
    z = X*p
    print(z)

*

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'range'

In [7]:
X  = "*"
for X in (range(0,5)):
    p = int(range(0,5))
    z = X*p
    print(z)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'range'

In [8]:
X  = "*"
for X in (range(0,5)):
    p = range(0,5)
    z = X*p
    print(z)

TypeError: unsupported operand type(s) for *: 'int' and 'range'

In [9]:
X  = "*"
for X in (range(0,5)):
    p <= 4
    z = X*p
    print(z)

TypeError: '<=' not supported between instances of 'range' and 'int'

In [10]:
X  = input("*")
p = range(0,5)
for X in range(0,5):
    z = X*p
    print(z)

**

TypeError: unsupported operand type(s) for *: 'int' and 'range'

In [12]:
X  = input()
print(type(X))
p = range(0,5)
for X in str(range(0,5)):
    z = X*p
    print(z)

*
<class 'str'>

TypeError: can't multiply sequence by non-int of type 'range'

In [1]:
X  = input()
print(type(X))
p = int(input())
for X in range(p):
    z = X*p
    print(z)

*
<class 'str'>
5
0
5
10
15
20

In [2]:
X  = input()
print(type(X))
p = int(input())
for z in range(p):
    z = X*p
    print(z)

*
<class 'str'>
5
*****
*****
*****
*****
*****

In [3]:
X  = input()
print(type(X))
p = int(input())
for z in range(0,p):
    z == X*z
    print(z)

*
<class 'str'>
5
0
1
2
3
4

## "DONE"

In [1]:
X  = input()
print(type(X))
p = 1+int(input())
for z in range(p):
    z = X*z
    print(z)

*
<class 'str'>
6

*
**
***
****
*****
******

In [3]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*")

1
*
*
*
*

In [4]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*"end="")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2142857553.py, line 4)

In [6]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*",end="")

2
*********

In [2]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*",end=" ")
        print()

2
*
*
*
*
*
*
*
*
*

In [9]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*",end=" ")

2
* * *

In [12]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y>=p:
            print("*",end=" ")

3

In [14]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<=p:
            print("*",end=" ")

2
* * * * * * * * *

In [15]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<=p:
            print("*",end=" ")
            break

2
* * *

In [17]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<=p:
        print("*",end=" ")

IndentationError: expected an indented block after 'if' statement on line 4 (154510562.py, line 5)

In [18]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<=p:
    print("*",end=" ")

IndentationError: expected an indented block after 'if' statement on line 4 (1337716476.py, line 5)

In [19]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if x>=y:
            print("*",end=" ")

2
* * * * * *

In [20]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if x>=y:
            print("*\n",end=" ")

2
*
 *
 *
 *
 *
 *

In [21]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if x>=y:
            print("*")

2
*
*
*
*
*
*

In [22]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if x>=y:
            print("*"*y)

2


*

*
**

In [24]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*"*y)

3

*
**
***

*
**
***

*
**
***

*
**
***

In [25]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*"*y,end="")

2
*********

In [26]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*"*y)
        break

2

In [29]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y>=x:
            print("*"*y)

3

*
**
***
*
**
***
**
***
***

## "DONE"

In [33]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)

6

*
**
***
****
*****
******

In [34]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y, end=" ")

5
 * ** *** **** *****

## "DONE"

In [1]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("* "*y)

6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [2]:
p = 1+int(input())
for x in range(p):
    for y in range(0,p,-1):
        if y==x:
            print("* "*y)

6

In [3]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y>x:
            print("* "*y)

6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* *
* * *
* * * *
* * * * *
* * * * * *
* * *
* * * *
* * * * *
* * * * * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * * * *
* * * * * *

In [4]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y=y+x:
            print("* "*y)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2122331254.py, line 4)

In [5]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==y+x:
            print("* "*y)

5

*
* *
* * *
* * * *
* * * * *

In [7]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<x:
            print("* "*y)

4


*

*
* *

*
* *
* * *

In [9]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y>x:
    print("* "*y)

IndentationError: expected an indented block after 'if' statement on line 4 (1861249879.py, line 5)

In [10]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y>x:
            break
    print("* "*y)

4
*
* *
* * *
* * * *
* * * *

In [11]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y>P:
            break
    print("* "*y,end="")

5

NameError: name 'P' is not defined

In [12]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y>p:
            break
    print("* "*y,end="")

5
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [13]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y>p:
            print("* "*y,end="")
            break

6

In [16]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<=p:
            print("* "*y,end="")
            break

6

In [17]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<p:
            print("* "*y,end="")
            break

6

In [18]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==p:
            print("* "*y,end="")
            break

5

In [20]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==p:
            print("* "*y,end="")

6

In [21]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==p:
            print("* "*p,end="")

6

In [22]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<p:
            print("* "*p,end="")

6
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [24]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<p:
            print("* "*p)

3
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *

In [26]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("* "*p)

2
* * *
* * *
* * *
* * *
* * *
* * *
* * *
* * *
* * *

## "DONE"

In [27]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        p=p-1
        print("* "*p)

5
* * * * *
* * * *
* * *
* *
*

## "DONE"

In [29]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        p=p-1
        print("*"*p)

6
******
*****
****
***
**
*

In [33]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*"*p)
        p=p-1

5
******
*****
****
***
**
*

In [34]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*"*p)
        p=p+1

2
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************

In [36]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*"*(p-1))
        p=p+1

2
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************

In [38]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
            p=p-1
            print("*"*p)

3

***
*
**

In [3]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
        if p=p-1:
            print("*"*p)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2376999792.py, line 6)

In [4]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
        if p==p-1:
            print("*"*p)

3

*
**
***

In [5]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
    if p==p-1:
        print("*"*p)

3

*
**
***

In [6]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        y==x:
        print("*"*y)
        p==p-1:
        print("*"*p)

SyntaxError: invalid syntax (2550848798.py, line 4)

In [7]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        y==x
        print("*"*y)
        p==p-1
        print("*"*p)

3

****
*
****
**
****
***
****

****
*
****
**
****
***
****

****
*
****
**
****
***
****

****
*
****
**
****
***
****

In [12]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        y==x
        print("*"*y)
        break
        p==p-1
        print("*"*p)

3

In [40]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
        p=p-1
        print("*"*p)

3

***
**
*

In [2]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
    p=p-1
    print("*"*p)
        if y==x:
            print("*"*y)

IndentationError: expected an indented block after 'for' statement on line 3 (3413323930.py, line 4)

In [1]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
        print("*"*y)
#       p=p-1
#       print("*"*p)

IndentationError: expected an indented block after 'if' statement on line 4 (3141159267.py, line 5)

In [3]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
    for p==p-1:
        print("*"*p)

SyntaxError: invalid syntax (1098002309.py, line 6)

In [4]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
    for y in range(p):
        p==p-1
        print("*"*p)

4

*****
*****
*****
*****
*****
*
*****
*****
*****
*****
*****
**
*****
*****
*****
*****
*****
***
*****
*****
*****
*****
*****
****
*****
*****
*****
*****
*****

In [5]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
for y in range(p):
    p==p-1
    print("*"*p)

4

*
**
***
****
*****
*****
*****
*****
*****

<font size = 5.5> "DONE"

In [6]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
for y in range(p):
    p=p-1
    print("*"*p)

5

*
**
***
****
*****
*****
****
***
**
*

In [7]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("\t")
            print("*"*y)

3



*

**

***

In [10]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("\t" "*"*y)

3

	*
	*	*
	*	*	*

In [11]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("\t",end= "*"*y)

3
		*	**	***

In [12]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("\t",end= "*"*y)
            print()

3

	*
	**
	***

In [13]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            p=p-1
            print("\t",end= "*"*y)
            print()

3

	*

In [14]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y<=x:
            print("\t",end= "*"*y)
            print()

3


	*

	*
	**

	*
	**
	***

In [15]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y=x:
            y,x=x,y
            print("\t",end= "*"*y)
            print()

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4215544778.py, line 4)

In [16]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            y,x=x,y
            print("\t",end= "*"*y)
            print()

3

	*
	**
	***

In [17]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y, end="")
            print()

3

*
**
***

In [18]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y, end="\t")
            print()

3

*
**
***

In [19]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y, end="\t")

3
	*	**	***

In [20]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y, end="\r")
            print()

3

*
**
***

In [21]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y, end="\r")

3

In [2]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("\t"print("*"*y, end=""))
            print()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3586736364.py, line 5)

In [3]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("\t",print("*"*y, end=""))
            print()

3
	 None

*	 None

**	 None

***	 None

In [ ]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y, end="")
            print()

In [ ]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("* "*y)

In [32]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("\t* "*y)

3

	*
	* 	*
	* 	* 	*

In [ ]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("\t* "*y)

# for_loop in one line

In [12]:
lst=[]
for x in range(0,4): lst.append(x)
print(lst)

[0, 1, 2, 3]

In [21]:
lst=[1,2,3,4,5]
for x in range(0,4):
    x = x**2
    print(x)
    lst.append(x)
print(lst)

[1, 2, 3, 4, 5, 0, 1, 4, 9]

In [14]:
lst=[1,2,3,4,5]
for x in range(1,6):
    x = x**2
    print(x)
    lst.append(x)
print(lst)

1
4
9
16
25
[1, 2, 3, 4, 5, 1, 4, 9, 16, 25]

In [15]:
lst=[1,2,3,4,5]
for x in range(1,6):
    x = x**2
    print(x)
    lst.append(x)
    del x[0]
print(lst)

1

TypeError: 'int' object does not support item deletion

In [4]:
# Square each number inside a list and finally print list
lst=[1,2,3,4,5]
print(lst)
print(id(lst))
for x in range(1,6):
    lst.remove(x)
    x = x**2
    print(x)
    lst.append(x)
print(lst)
print(id(lst))

[1, 2, 3, 4, 5]
2351072694656
1
4
9
16
25
[1, 4, 9, 16, 25]
2351072694656

## "Different question"

In [1]:
lst=[1,3,5,7,9]
print(lst)
print(id(lst))
for x in range(1,6):
    lst.remove(x)
    x = x**2
    print(x)
    lst.append(x)
print(lst)
print(id(lst))

[1, 3, 5, 7, 9]
2647176006592
1

ValueError: list.remove(x): x not in list

In [2]:
lst=[1,3,5,7,9]
print(lst)
print(id(lst))
for x in lst[1,3,5,7,9]:
    lst.remove(x)
    x = x**2
    print(x)
    lst.append(x)
print(lst)
print(id(lst))

[1, 3, 5, 7, 9]
2647204239360

TypeError: list indices must be integers or slices, not tuple

In [3]:
lst=[1,3,5,7,9]
print(lst)
print(id(lst))
for x in lst(1,3,5,7,9):
    lst.remove(x)
    x = x**2
    print(x)
    lst.append(x)
print(lst)
print(id(lst))

[1, 3, 5, 7, 9]
2647204388544

TypeError: 'list' object is not callable

In [4]:
lst=[1,3,5,7,9]
print(lst)
print(id(lst))
for x in tuple(1,3,5,7,9):
    lst.remove(x)
    x = x**2
    print(x)
    lst.append(x)
print(lst)
print(id(lst))

[1, 3, 5, 7, 9]
2647204395904

TypeError: tuple expected at most 1 argument, got 5

In [8]:
lst=[1,3,5,7,9]
#print(lst)
#print(id(lst))
for x in lst:
    lst.remove(x)
    print(lst)
    x = x**2
    print(x)
    lst.append(x)
    print(lst)
#print(lst)
#print(id(lst))

[3, 5, 7, 9]
1
[3, 5, 7, 9, 1]
[3, 7, 9, 1]
25
[3, 7, 9, 1, 25]
[3, 7, 1, 25]
81
[3, 7, 1, 25, 81]
[3, 7, 1, 81]
625
[3, 7, 1, 81, 625]
[3, 7, 1, 81]
390625
[3, 7, 1, 81, 390625]

## Tarnsfer statements  -- "break"

### break

-  The "break" statement is used to terminate the loop instantly when it is "ENCOUNTERED"

In [14]:
for x in range(1,7):
    if x>3:
        break
    print(x)
print('Hello World')

1
2
3
Hello World

In [15]:
for x in range(1,7):
    if x>3:
        break
    print(x)
    print('Hello World')

1
Hello World
2
Hello World
3
Hello World

In [17]:
## Here it breaks the innermost loop

for x in range(3):
    for y in range(4):
        if y>2:
            print("I am breaking it(innermost -- loop)")
            break
        print(y)

0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)

In [18]:
## Here it breaks the innermost loop

for x in range(3):
    for z in range(4):
        for y in range(5):
            if y>2:
            print("I am breaking it(innermost -- loop)")
            break
    print(y)

IndentationError: expected an indented block after 'if' statement on line 6 (2854405447.py, line 7)

In [19]:
## Here it breaks the innermost loop

for x in range(3):
    for z in range(4):
        for y in range(5):
            if y>2:
                print("I am breaking it(innermost -- loop)")
                break
    print(y)

I am breaking it(innermost -- loop)
I am breaking it(innermost -- loop)
I am breaking it(innermost -- loop)
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
I am breaking it(innermost -- loop)
I am breaking it(innermost -- loop)
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
I am breaking it(innermost -- loop)
I am breaking it(innermost -- loop)
I am breaking it(innermost -- loop)
3

In [22]:
## Here it breaks the innermost loop

for x in range(3):
    for y in range(4):
        for z in range(5):
            if z>2:
                print("I am breaking it(innermost -- loop)")
                break
        print(z)

I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3
I am breaking it(innermost -- loop)
3

In [7]:
## Here it breaks the innermost loop

for x in range(3):
    for y in range(4):
        for z in range(5):
            if z>2:
                print("I am breaking it(innermost -- loop)")
                break
            print(z)

0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)
0
1
2
I am breaking it(innermost -- loop)

In [9]:
# Make a program to check whether a "Year is Leap year OR not"

x = int(input())

if x%4==0:
    print("Yes")
else:
    print("No")

2000
Yes

In [19]:
# Make a program to check whether a "Year is Leap year OR not"

x = int(input())
for x>=100:
    if ((x/100)%4==0 and x%4==0):
        print("Yes")
    else:

SyntaxError: invalid syntax (2675090360.py, line 4)

In [39]:
# Make a program to check whether a "Year is Leap year OR not"
x = int(input())
if ( x<=0 and x>=100 and (x/100)%4==0 and x%4==0):
    print("Yes")
elif (0<x<100 and x%4==0):
    print("Yes")
else:
    print("No")

0
No

In [33]:
136//100

1

In [29]:
# Make a program to check whether a "Year is Leap year OR not"
x = int(input())
if ( x>=100 and (x%100)%4==0 and x%4==0):
    print("Yes")
elif (x<100 and x%4==0):
    print("Yes")
else:
    print("No")

300
Yes

In [32]:
300%100

0

In [35]:
# Make a program to check whether a "Year is Leap year OR not"

x = int(input())
if (x<100 and x%4==0):
    print("Yes")
else:
    print("No")

24
Yes