##  Returning Multiple values from a Function

In [1]:
a,b = ("Hello",55)
print(a)
print(b)

Hello
55

## Values will be returned in form of "tuple"

In [2]:
def calculator(a,b):
    sum =a+b
    diff=a-b
    product=a*b
    div=a/b
    
    return sum,diff,product,div  # Returns the value in form of a "Tuple"

x= calculator(10,2)
print(x)

(12, 8, 20, 5.0)

In [3]:
def calculator(a,b):
    sum =a+b
    diff=a-b
    product=a*b
    div=a/b
    
    return sum,diff,product,div  # Returns the value in form of a "Tuple"

a,b,c,d = calculator(10,2)
print(a,b,c,d)

12 8 20 5.0

In [1]:
def calculator(a,b):
    sum =a+b
    diff=a-b
    product=a*b
    div=a/b
    
    return sum,diff,product,div  # Returns the value in form of a "Tuple"

a,b,c,d = calculator(10,2)

In [2]:
def calculator(a,b):
    sum =a+b
    diff=a-b
    product=a*b
    div=a/b
    
    return sum,diff,product,div  # Returns the value in form of a "Tuple"

a,b,c,d = calculator(10,2)
print(a,b,c,d)

12 8 20 5.0

In [1]:
def calculator(a,b):
    sum =a+b
    diff=a-b
    product=a*b
    div=a/b
    
    return sum,diff,product,div  # Returns the value in form of a "Tuple"

s = calculator(10,2)
print(s)        ### Output in form of "tuple"

(12, 8, 20, 5.0)

### "Important EXAMPLE -- Very Important"

In [2]:
a,b,c,d = ("Data",55,-12,True)
print(a)
print(b)
print(c)
print(d)

Data
55
-12
True

In [3]:
y = calculator(8,4)
print(y)

(12, 4, 32, 2.0)

In [1]:
def add(a,b):
    s = a+b
    print(s)
    
add(12,15)

27

In [2]:
def add(a,b):
    s = a+b
    print(s)
    
print(add(12,15))

27
None

In [3]:
def add(a,b,b):
    s = a+b
    print(s)
    
print(add(12,15))

SyntaxError: duplicate argument 'b' in function definition (3120960319.py, line 1)

<font size = 4><center> <h1>**Left**

In [11]:
y = calculator(8,4)
print(y[2])
y[2]                    ## "Done"

32

32

In [5]:
product = calculator(8,4)

In [6]:
y = product

In [8]:
y[2] = calculator(8,4)

TypeError: 'tuple' object does not support item assignment

In [18]:
y = calculator(8,4)
return product

SyntaxError: 'return' outside function (3239700139.py, line 2)

In [19]:
y = calculator(8,4):
    return product

SyntaxError: invalid syntax (2238942086.py, line 1)

In [9]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [10]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

# Using Docstring in Functions

- SIngle-line Docstring

In [12]:
def show_result():
    """Let us understand Docstrings"""
    print("This is a test program")

### "Important command"

In [13]:
show_result.__doc__

'Let us understand Docstrings'

In [14]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    Let us understand Docstrings

- **Multi-line Docstring**

In [5]:

def show_result():
    """Let us understand Docstrings
    
    I am using this function to understand about Docstring
    Docstring are used to document functions"""
    print("This is a test program")
show_result()

This is a test program

In [17]:
print(show_result.__doc__)

Let us understand Docstrings

    I am using this function to understand about Docstring
    Docstring are used to document functions

In [20]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    Let us understand Docstrings

    I am using this function to understand about Docstring
    Docstring are used to document functions

In [21]:
def show_result():
    sum =a+b
    diff=a-b
    
    """Let us understand Docstrings
    
    I am using this function to understand about Docstring
    Docstring are used to document functions"""
    product=a*b
    div=a/b
    return sum,diff,product,div  # Returns the value in form of a "Tuple"
    
    print("This is a test program")
    
a,b,c,d = calculator(10,2)
print(a,b,c,d)

12 8 20 5.0

In [22]:
help(show_result)

Help on function show_result in module __main__:

show_result()

## Scope of Variables  -- "local" and "global"

In [23]:
t = "PYthon"                # Global Variable

def scope_var():
    u = "analytics"         # Local Variable
    print("T is ",t)
scope_var()

print("The value of t is ", t)
print("The value of u is ", u)

T is  PYthon
The value of t is  PYthon

NameError: name 'u' is not defined

In [25]:
t = "PYthon"                # Global Variable
u = "analytics"             # Global Variable

def scope_var():
    u = "Data analytics"         # Local Variable
    print(u)
    print("T is ",t)
scope_var()

print("The value of t is ", t)
print("The value of u is ", u) # Global Variable --- u

Data analytics
T is  PYthon
The value of t is  PYthon
The value of u is  analytics

In [27]:
t = "PYthon"                # Global Variable
u = "analytics"             # Global Variable

def scope_var():
    print(u)
    u = "Data analytics"         # Local Variable
    print("T is ",t)
scope_var()

print("The value of t is ", t)
print("The value of u is ", u) # Global Variable --- u

UnboundLocalError: local variable 'u' referenced before assignment

In [1]:
print(t)
t = "PYthon"                # Global Variable
u = "analytics"             # Global Variable

def scope_var():
    print(u)
    u = "Data analytics"         # Local Variable
    print("T is ",t)
scope_var()

print("The value of t is ", t)
print("The value of u is ", u) # Global Variable --- u

NameError: name 't' is not defined

In [2]:
t = "PYthon"                # Global Variable
u = "analytics"             # Global Variable

def scope_var():
    print("Value of u inside fuction before declaring it as local is",u)
    u = "Data analytics"         # Local Variable
    print("T is ",t)
scope_var()

print("The value of t is ", t)
print("The value of u is ", u) # Global Variable --- u

UnboundLocalError: local variable 'u' referenced before assignment

In [3]:
t = "PYthon"                # Global Variable
u = "analytics"             # Global Variable

def scope_var():
    print("Value of u inside fuction before declaring it as local is",u)
u = "Data analytics"         # Local Variable
    print("T is ",t)
scope_var()

print("The value of t is ", t)
print("The value of u is ", u) # Global Variable --- u

IndentationError: unexpected indent (1064569394.py, line 7)

In [4]:
t = "PYthon"                # Global Variable
u = "analytics"             # Global Variable

def scope_var():
    print("Value of u inside fuction before declaring it as local is",u)
    u = "Data analytics"         # Local Variable
    print("T is ",t)
scope_var()

print("The value of t is ", t)
print("The value of u is ", u) # Global Variable --- u

UnboundLocalError: local variable 'u' referenced before assignment

In [5]:
t = "PYthon"                # Global Variable
u = "analytics"             # Global Variable

def scope_var():
    global u
    u = "Data analytics"         # Local Variable
    print(u)
    print("T is ",t)
scope_var()

print("The value of t is ", t)
print("The value of u is ", u) # Global Variable --- u

Data analytics
T is  PYthon
The value of t is  PYthon
The value of u is  Data analytics

In [6]:
t = "PYthon"                # Global Variable
u = "analytics"             # Global Variable

def scope_var():
    u = "Data analytics"         # Local Variable
    print(u)
    print("T is ",t)
scope_var()

print("The value of t is ", t)
print("The value of u is ", u) # Global Variable --- u

Data analytics
T is  PYthon
The value of t is  PYthon
The value of u is  analytics

## Global Variable

In [8]:
# Creating a global variable inside a function.

def test_global():
    global x
    x = 55
    print("x inside the functionis:", x)
    
test_global()
print("x outside functionis is:",x)

x inside the functionis: 55
x outside functionis is: 55

In [9]:
# Creating a global variable inside a function.

def test_global():
    global x = 55
    print("x inside the functionis:", x)
    
test_global()
print("x outside functionis is:",x)

SyntaxError: invalid syntax (2959196334.py, line 4)

In [10]:
# Creating a global variable inside a function.

def test_global():
    global x == 55
    print("x inside the functionis:", x)
    
test_global()
print("x outside functionis is:",x)

SyntaxError: invalid syntax (2407974879.py, line 4)

In [1]:
def show_result():
    a = 10
    sum = a+78
    print(sum)

show_result()
print(a)

88

NameError: name 'a' is not defined

In [2]:
def show_result():
    global a
    a = 10
    sum = a+78
    print(sum)

show_result()
print(a)

88
10

In [3]:
x = "Hello World"

def print_result():
    x = "hi"
    print(x)

print_result()
print(x)

hi
Hello World

In [4]:
x = "Hello World"
print(x)

def print_result():
    x = "hi"
    print(x)

print_result()

Hello World
hi

In [5]:
x = "Hello World"

def print_result():
    x = "hi"
    print(x)

print(x)    
print_result()     ##  First "Hello World" is print as it is given Before the "Calling of Function"

Hello World
hi

In [6]:
x = "Hello World"

def print_result():
    x = "hi"
    print(x)     ## "Function is ENDED HERE --- Function is CLOSED here"
    ## "Function is NOT called -- It is lying DORMANT in the PYthon" 
    ## "Calling the Function breaks the Dormancy Period of the Function"

print(x)

Hello World

In [7]:
def addition(x,y):
    sum =x+y
    return sum

print(addition(1,10))
print(addition(6,4))
print(addition(5,6))

11
10
11

## "Nonlocal Variables"

In [9]:
def outer():
    w=89
    def inner():
        w=67
        print(w)
    inner()
    print(w)

outer()     ##  First outer function is called then inner function will be called "BY outer function"

67
89

In [1]:
def outer():
    w=89
    def inner():
        print(w)
    inner()
    print(w)   ## Inner function and outer function accessing the same value of "w"

outer()     ##  First outer function is called then inner function will be called "BY outer function"

89
89

In [4]:
def outer():
    w=89
    def inner():
        w=67
        print(w)
    inner()
    print(w)
    ##  No output as -- outer function is never called.

In [2]:
def outer():
    w=89
    def inner():
        nonlocal w  ## this nonlocal "w" wiil access the value of "outer function's 'w' and value of outer 'w' WILL change"
        w=67        ## nonlocal means "NOT local of inner function"
        print(w)
    inner()
    print(w)

outer()     ##  First outer function is called then inner function will be called "BY outer function"

67
67

In [5]:
def outer():
    
    def inner():
        nonlocal w  ## this nonlocal "w" wiil access the value of "outer function's 'w' and value of outer 'w' WILL change"
        w=67        ## nonlocal means "NOT local of inner function"
        print(w)
    inner()
    print(w)

outer()     ##  First outer function is called then inner function will be called "BY outer function"

SyntaxError: no binding for nonlocal 'w' found (1177231103.py, line 4)

In [6]:
def outer():
    # w=2
    x= 12
    def inner():
        nonlocal x
        ## nonlocal w  ## this nonlocal "w" wiil access the value of "outer function's 'w' and value of outer 'w' WILL change"
        ## w=67        ## nonlocal means "NOT local of inner function"
        x = 23
        print(x)
    inner()
    print(x)

outer()     ##  First outer function is called then inner function will be called "BY outer function"

23
23

In [7]:
def outer():
    # w=2
    ## x= 12
    def inner():
        nonlocal x
        ## nonlocal w  ## this nonlocal "w" wiil access the value of "outer function's 'w' and value of outer 'w' WILL change"
        ## w=67        ## nonlocal means "NOT local of inner function"
        x = 23
        print(x)
    inner()
    print(x)

outer()     ##  First outer function is called then inner function will be called "BY outer function"

SyntaxError: no binding for nonlocal 'x' found (1909239921.py, line 5)

In [8]:
# Arguments and parameters

def my_func(x,y):    ## here x and y are the parameters
    return x+y

my_func(45,65)   # here 45 and 65 are the arguments

110

In [9]:
def my_function():
    pass

my_function(55)

TypeError: my_function() takes 0 positional arguments but 1 was given

# PYthon Function Arguments

### 1. Positional Arguments

### 2. Keyword Arguments

### 3. Default Arguments

### 4. Varialble_length  Arguments

### Positional arguments -- are arguments that are passed to a function in proper positional order

### Similar to a "vector quantity"

In [10]:
def calc(p,q):
    diff=p-q
    return diff

calc(89,45)      ## p=89, q=45

44

In [11]:
def calc(p,q):
    diff=p-q
    return diff

calc(45,89)      ## p=45, q=89

-44

In [12]:
calc(89,45,56)

TypeError: calc() takes 2 positional arguments but 3 were given

In [13]:
def calc(q,p):
    diff=p-q
    return diff

calc(45,89)      ## p=89, q=45

44

In [14]:
def calc(q,p):
    diff=p-q
    return diff

calc(89,45)      ## p=45, q=89  -- positional argument

-44

### Keyword arguments -- 

- Values get assigned to the parameters by their names(keywords)
- Here the order of the arguments does not matter.

In [15]:
def calc(p,q):
    diff = p-q
    return diff

calc(p=2,q=10)

-8

In [16]:
def calc(p,q):
    diff = p-q
    return diff

calc(q=10,p=2)

-8

In [17]:
calc(a=10,b=2)

TypeError: calc() got an unexpected keyword argument 'a'

## Default Arguments - 

### Take the default value during the function call if we do not pass them.

In [18]:
def get_message(msg="Hello World"):
    print(msg)

get_message("Hi!")   ## Default Argument

Hi!

In [19]:
get_message()

Hello World

In [20]:
def get_message(msg):
    print(msg)

get_message("Hi!")

Hi!

In [21]:
def get_message(msg):
    print(msg)

get_message()

TypeError: get_message() missing 1 required positional argument: 'msg'

In [22]:
def get_message(msg="Hello World"):
    print(msg)

get_message("Hi!,DATA")

Hi!,DATA

In [23]:
def get_message(msg="Hello World"):
    print(msg)

get_message("Hi!","DATA")

TypeError: get_message() takes from 0 to 1 positional arguments but 2 were given

In [24]:
def get_message(msg="Hello World",q=33):
    print(msg)

get_message("Hi!,DATA")

Hi!,DATA

In [25]:
def get_message(msg="Hello World",q=33):
    print(msg)

get_message("Hi!,DATA",23)

Hi!,DATA

In [26]:
def get_message(msg="Hello World",q=33):
    print(msg,p)

get_message("Hi!,DATA",23)

NameError: name 'p' is not defined

In [27]:
def get_message(msg="Hello World",q=33):
    print(msg,q)

get_message("Hi!,DATA",23)

Hi!,DATA 23

In [28]:
def get_message(msg="Hello World",q=33):
    print(msg)

get_message()      ## Default Argument

Hello World

In [29]:
def get_message(msg="Hello World",q=33):
    print(msg,q)

get_message()   ## Default Argument

Hello World 33

In [30]:
def get_message(msg,q=33):
    print(msg,q)

get_message()   ## Default Argument

TypeError: get_message() missing 1 required positional argument: 'msg'

In [31]:
def get_message(msg,q=33):
    print(msg,q)

get_message("xyz")   ## Default Argument

xyz 33

In [32]:
def get_message(msg,q=33):  ## Default Argument  --- (msg - is a parameter)
    print(msg,q)

get_message(msg = "Hi!",q=55)   ## Keyword Argument

Hi! 55

## 21 July 2023

In [4]:
def my_func(x,y):
    return x+y
my_func(x=10,y=22)

32

## Variable-length Arguments  OR Arbitary Arguments:

### When we need to pass multiple arguments to the function "THEN" we can use Variable-length arguments


#### 1. Arbitary Positional Arguments

#### 2. Arbitary Keywords Arguments

In [5]:
# Arbitary Positional Arguments

def average(*numbers):       ## "Numbers are passed in Tuple Data type"
    print(numbers)
    sum=0
    for x in numbers:
        sum += x
    print(sum/len(numbers))

average(6,8,5)

(6, 8, 5)
6.333333333333333

In [3]:
# Arbitary Positional Arguments

def average(*DATA):       ## "Numbers are passed in Tuple Data type"
    print(DATA)
    sum=0
    for x in DATA:
        sum += x
    print(sum/len(DATA))

average(6,8,5)

(6, 8, 5)
6.333333333333333

In [4]:
# Arbitary Positional Arguments

def average(DATA*):       ## "Numbers are passed in Tuple Data type"
    print(DATA)
    sum=0
    for x in DATA:
        sum += x
    print(sum/len(DATA))

average(6,8,5)

SyntaxError: invalid syntax (414338956.py, line 3)

In [11]:
# Arbitary Positional Arguments

def average(*numbers):       ## "Numbers are passed in Tuple Data type"
    print(numbers)
    sum=20
    for x in numbers:
        sum = sum -x
    print(sum/len(numbers))

average(6,4,12)

(6, 4, 12)
-0.6666666666666666

In [14]:
# Arbitary Positional Arguments

def testing(*numbers):       ## "Numbers are passed in Tuple Data type"
    print(numbers)
    sum=20
    for x in numbers:
        sum = sum -x
    print(sum)
testing(6,4,12)

(6, 4, 12)
-2

In [13]:
def my_func(x,y):

SyntaxError: incomplete input (2015528485.py, line 1)

In [15]:
def my_func(x,y):
    pass

my_func()

TypeError: my_func() missing 2 required positional arguments: 'x' and 'y'

In [16]:
def my_func(x,y):
    pass

my_func(x,y)

In [6]:
dict = {"a"=1,"b"=2,"c"=3}
for x in dict:
    print(x)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (152307954.py, line 1)

In [7]:
dict = {"a":1,"b":2,"c":3}
for x in dict:
    print(x)

a
b
c

In [8]:
dict = {"a":1,"b":2,"c":3}
for x in dict:
    print(x)
dict["a"]                 ## Access the value of dictionary

a
b
c

1

In [17]:
# Arbitary keyword Argument

def my_func(**keyword_arg):   ## keyword_Arg is passed in the form of "dictionary" - Data Type
    print(keyword_arg)
    for sub in keyword_arg:
        ## get argument name
        sub_name = sub
        print(sub_name)
        ## get argument value
        sub_marks = keyword_arg[sub]
        print(sub, "=", sub_marks)


## pass multiple keyword arguments
my_func(math=90, english=70, science=95)

{'math': 90, 'english': 70, 'science': 95}
math
math = 90
english
english = 70
science
science = 95

In [19]:
# Arbitary keyword Argument

def my_func(**keyword_arg):   ## keyword_Arg is passed in the form of "dictionary" - Data Type
    print(keyword_arg)
    for sub in keyword_arg:
        ## get argument name
        sub_name = sub
        print(sub_name)
        ## get argument value
        sub_marks = keyword_arg[sub]
        print(sub, "=", sub_marks)


## pass multiple keyword arguments
my_func(math=90, english=70, science=95,SST=85,Hindi=77,SKT=99)

{'math': 90, 'english': 70, 'science': 95, 'SST': 85, 'Hindi': 77, 'SKT': 99}
math
math = 90
english
english = 70
science
science = 95
SST
SST = 85
Hindi
Hindi = 77
SKT
SKT = 99

In [18]:
# Arbitary keyword Argument

def my_func(**keyword_arg):   ## keyword_Arg is passed in the form of "dictionary" - Data Type
    print(keyword_arg)
    ## get argument name
    sub_name = sub
    print(sub_name)
    ## get argument value
    sub_marks = keyword_arg[sub]
    print(sub, "=", sub_marks)


## pass multiple keyword arguments
my_func(math=90, english=70, science=95)

{'math': 90, 'english': 70, 'science': 95}

NameError: name 'sub' is not defined

In [ ]:
def test():
    test()
    
test()     ## loop is FORMED-- It "WILL" not stop --- "Warning don't RUN IT!"

In [ ]:
while True:
    pass    ## loop is FORMED-- It "WILL" not stop --- "Warning don't RUN IT!"

In [21]:
def test(x):
    if x==10:
        break
    test(x+1)
    
test()

SyntaxError: 'break' outside loop (3656375386.py, line 3)

In [ ]:
def test(x):
    if x==10:
        return None
    test(x+1)
    
test(45)   ## loop is FORMED-- It "WILL" not stop --- "Warning don't RUN IT!"

In [22]:
def test(x):
    if x==10:
        return None
    test(x-1)
    
test(45)

In [25]:
def test(x):
    if x==10:
        return "Hello World"
    print(test(x-1))
    
test(15)

Hello World
None
None
None
None

In [27]:
def test(x):
    if x==10:
        return "Hello World"
    return 23
    
test(15)

23

In [26]:
def test(x):
    if x==10:
        return "Hello World"
    return test(x-1)
    
test(15)

'Hello World'