# Identity Operators   --- "is"       and    "is not"

### "is" and "is not" are opposite of each other.
### Identity Operators   --- "is"       and    "is not"   ----- Check's whether two variables or objects share the same memory location or NOT.
### Address OR Memory location

In [1]:
X = 12
Y = 14
print(id(X))
print(id(Y))
print(X is Y)

2780459565648
2780459565712
False

In [2]:
X = 12
Y = 12
print(id(X))
print(id(Y))
print(X is Y)

2780459565648
2780459565648
True

In [3]:
X = 12
Y = 14
print(id(X))
print(id(Y))
print(X is not Y)

2780459565648
2780459565712
True

In [4]:
X = 12
Y = 12
print(id(X))
print(id(Y))
print(X is not Y)

2780459565648
2780459565648
False

In [5]:
a = [12]             #  Examples of List DATA -- TYPE
b = [12]
a is b

False

In [6]:
a = [12]             #  Examples of List DATA -- TYPE
b = [12]
a is not b

True

In [7]:
a = [12]             #  Examples of List DATA -- TYPE
b = [12]
print(a is b)        # Differet memory location  -- False
print(a==b)          # Value Check  -- Same value  -- True

False
True

In [8]:
a = [12]             #  Examples of List DATA -- TYPE
b = [12]
print(a is b)        # Differet memory location  -- False
print(a==b)          # Value Check  -- Same value  -- True

print(id(a))
print(id(b))

False
True
2780544056768
2780544055488

# Membership Operators   ---   "in"    and "not in"

### Membership Operators   ---   "in"    and "not in"  -- Check's whether a value is present in a sequence of values.
### Sequences  -- Stings, Lists, Tuples, sets, Dictionaries

In [9]:
a = "data science"
          b = "data"
b in a

True

In [10]:
a = "data science"
b = "data"
b not in a

False

In [12]:
a = "data science"
b = "data"
"AJ" in a

False

In [13]:
a = "data science"
b = "data"
"string" in a

False

In [14]:
c = [1,2,3,4,5]
d = 4
d in c

True

In [15]:
c = [1,2,3,4,5]
d = 4
d not in c

False

In [16]:
c = [1,2,3,4,5]
d = [4]
d in c

False

In [17]:
c = [1,2,3,4,5]
d = [4]
d not in c

True

In [18]:
c = [1,2,3,[4],5]
d = [4]
d in c

True

In [1]:
c = [1,2,3,[4],5]
d = [4]
d not in c

False

In [2]:
c = [1,2,3,[4],5]
d = [4]
d in c

True

In [20]:
c = [1,2,3,[4],5,a]
d = a
d in c

True

In [21]:
c = [1,2,3,[4],5,a]         # a is defined previously  -- a is variable
d = a
d not in c

False

In [23]:
c = [Aj,rr,pp,[4],cc,aa]
d = 'Aj'
d in c

NameError: name 'Aj' is not defined

In [24]:
c = [Aj,rr,pp,[4],cc,aa]
d = 'rr'
d in c

NameError: name 'Aj' is not defined

###      Bitwise Operators  -- &  |   ^   ~    <<     >>

###      & -- Bitwise Operators  -- AND

###       | -- Bitwise Operators  -- OR

###       ^ -- Bitwise Operators  -- XOR
### ~ -- Bitwise Operators  -- NOT
### << -- Bitwise Operators  -- Left Shift
### >> -- Bitwise Operators  -- Right Shift

In [26]:
### Bitwise Operators  --   &    |     ^     ~      <<      >>
###  & --  Bitwise Operators  -- AND
###  | --  Bitwise Operators  -- OR
###  ^ --  Bitwise Operators  -- XOR
###  ~ --  Bitwise Operators  -- NOT
###  << -- Bitwise Operators  -- Left Shift
###  >> -- Bitwise Operators  -- Right Shift

#   |  -- Pike  --- It is not slash

# Assignment Operators

In [27]:
# Assignment Operators  -- +=   -=  *=  /=  //=  **=  %=    |=   &=  ^=  >>=   <<=   

#  "~=" is NOT -- an Assignment Operators

In [28]:
x = 9
x += 2     # x = x + 2
x

11

In [29]:
x = 9
x -= 2     # x = x - 2
x

7

In [30]:
x = 9
x *= 2     # x = x * 2
x

18

In [31]:
x = 9
x /= 2     # x = x / 2
x

4.5

In [32]:
x = 9
x //= 2     # x = x // 2
x

4

In [33]:
x = 9
x %= 2     # x = x % 2
x

1