# Raw NBConvert cells
A raw cell is defined as content that should be included unmodified in nbconvert output. For example, this cell could include raw LaTeX for nbconvert to pdf via latex, or restructured text for use in Sphinx documentation. The notebook authoring environment does not render raw cells.

In [9]:
## Raw NBConvert cells

# BFS ---  BROKEN Focus Syndrome
# KMF --   KEEP Moving Forward

# Reduce your Interaction with EXTRA PEOPLE!

## --> All data in a Python Program is represented by objects
## -->Every object has an Identity(Address, Memory location), a type and a value.
- An object's type "determines" the operations that the object supports and also defines the possible values for objects of that type.
- The value of some objects can CHANGE. Objects whose value can change are said to be mutable; objects whose value is unchangeable once they are created are called IMMUTABLE.


## An object that allows you to change its value without changing its identity is a Mutable Object

In [1]:
x = "Data"
print(id(x))
x = "scientist"
print(id(x))            # here 'x' is just pointing towards a location
                        # A variable is NOT A CONTAINER but it points to an OBJECT.

2897421327088
2897454726192

# Very very Important Example

In [4]:
y = [12,34]                         # MUTABLE -- List, set, Dictionary
print(id(y))

y = [77,99]
print(id(y))           ## previous VALUE OF 'y' IS LOST IN SPACE -- garbaged....

2146278207168
2146277982400

In [2]:
z = [55]
print(id(z))

z = [55]
print(id(z))

2897455181312
2897455181760

In [4]:
# Mutable  --- The Id or location or Address of a list NEVER CHANGES even if 
## the said list elements edited.

list = [12, 13, 14, 66, "DATA"]
print(id(list))
list[4]="HELLO"
print(list)
print(id(list))

2897455180928
[12, 13, 14, 66, 'HELLO']
2897455180928

In [5]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
lisT.append("Scientist")
print(lisT)
print(id(lisT))

2897455180736
[12, 13, 14, 66, 'DATA', 'Scientist']
2897455180736

In [7]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
z = lisT.append("Scientist")
print(lisT)
print(z)
print(id(lisT))
print(id(z))

2897455188928
[12, 13, 14, 66, 'DATA', 'Scientist']
None
2897455188928
140721578733248

In [3]:
a = 67
print(id(a))
a = 67
print(id(a))

2897370548528
2897370548528

In [5]:
y[1] = 55
print(y)
print(id(y))

[77, 55]
2146277982400

# Very very Important Example

In [6]:
x = "Data"
print(id(x))
x = "Scientist"
print(id(x))          ## previous VALUE OF "x" IS LOST IN SPACE -- garbaged....

2146244615152
2146277412208

In [7]:
p ="I am a DATA Scientist"   # String is printed -- without command -- "WHY?"
p.upper()                    # it creates a NEW String

'I AM A DATA SCIENTIST'

In [11]:
p

'I am a DATA Scientist'

In [9]:
z = [2,3,4,5,1,1,2]
print(id(z))
z.sort()
print(z)
print(id(z))           #  IDENTITY of LIST - "z" remains the same -- MUTABLE

2146278210176
[1, 1, 2, 2, 3, 4, 5]
2146278210176

In [10]:
z = [2,3,4,5,1,1,2]    # "z" -- is not printed, "WHY?"
print(id(z))           
z.sort()
print(id(z))           #  IDENTITY of LIST - "z" remains the same -- MUTABLE

2146278210432
2146278210432

In [1]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
z = lisT.append("Scientist")
print(lisT)
print(z)
print(id(lisT))
print(id(z))

2120316900288
[12, 13, 14, 66, 'DATA', 'Scientist']
None
2120316900288
140721588694720

In [2]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
z = lisT.append("Scientist")
print(lisT)
type(list(z))
print(z)

print(id(lisT))
print(id(z))

2120316909376
[12, 13, 14, 66, 'DATA', 'Scientist']

TypeError: 'NoneType' object is not iterable

In [3]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
[z] = lisT.append("Scientist")
print(lisT)
print(z)

print(id(lisT))
print(id(z))

2120345310016

TypeError: cannot unpack non-iterable NoneType object

In [4]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
list(z) = lisT.append("Scientist")
print(lisT)
print(z)

print(id(lisT))
print(id(z))

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (4012822835.py, line 3)

In [5]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
list(z) == lisT.append("Scientist")
print(lisT)
print(z)

print(id(lisT))
print(id(z))

2120345470080

TypeError: 'NoneType' object is not iterable

In [6]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
z = lisT.append("Scientist")
print(type(z))
print(lisT)

print(z)

print(id(lisT))
print(id(z))

2120345647616
<class 'NoneType'>
[12, 13, 14, 66, 'DATA', 'Scientist']
None
2120345647616
140721588694720

In [7]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
lisT = lisT.append("Scientist")
print(type(lisT))
print(lisT)
print(id(lisT))

2120345629888
<class 'NoneType'>
None
140721588694720

In [8]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
lisT.append("Scientist")
print(type(lisT))
print(lisT)
print(id(lisT))

2120345629888
<class 'list'>
[12, 13, 14, 66, 'DATA', 'Scientist']
2120345629888

In [3]:
a = "DATA"
a

'DATA'

In [4]:
a = "DATA"
a
print(type(a))

<class 'str'>

In [1]:
A = [1,2,33,"AA"]                      #   [0 1 2 3] 
A

[1, 2, 33, 'AA']

In [6]:
A.index(33)

2

In [5]:
print(type(A[3]))

<class 'str'>

In [7]:
k = [1,2,33,"AA",{},[] ]                      #   [0 1 2 3 4 5 ] 
k

[1, 2, 33, 'AA', {}, []]

In [8]:
k = [1,2,33,"AA",{},[], [[]], + ]                      #   [0 1 2 3 4 5 6 7 ] 
k

SyntaxError: invalid syntax (3397100209.py, line 1)

In [9]:
k = [1,2,33,"AA",{},[], [[]], () ]                      #   [0 1 2 3 4 5 6 7 ] 
k

[1, 2, 33, 'AA', {}, [], [[]], ()]

In [10]:
print(type(k))
print(type(k[6]))

<class 'list'>
<class 'list'>

In [11]:
print(type(k))
print(type(k[7]))

<class 'list'>
<class 'tuple'>

In [12]:
print(type(k))
print(type(k[4]))

<class 'list'>
<class 'dict'>

In [1]:
H = [1,2,33,"AA",{},[],[[]],(),{a,b,c} ]                      #   [0 1 2 3 4 5 6 7  8] 
H

NameError: name 'a' is not defined

In [2]:
H = [1,2,33,"AA",{},[],[[]],(),{"a","b","c"} ]                      #   [0 1 2 3 4 5 6 7  8] 
H

[1, 2, 33, 'AA', {}, [], [[]], (), {'a', 'b', 'c'}]

In [4]:
print(type(H))
print(type(H[8]))
print(type(H[4]))

<class 'list'>
<class 'set'>
<class 'dict'>

In [5]:
L = [1,2,33,"AA",{},[],[111,222,333,["aaa","bbb","ccc"]],(),{"a","b","c"} ]                      #   [0 1 2 3 4 5 6 7  8] 
L

[1,
 2,
 33,
 'AA',
 {},
 [],
 [111, 222, 333, ['aaa', 'bbb', 'ccc']],
 (),
 {'a', 'b', 'c'}]

In [8]:
print(type(L))
print(type(L[6]))
print(type(L[5]))
print(type(L[4]))
print(type(L[6][3]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'dict'>
<class 'list'>

In [5]:
A.index(3)

ValueError: 3 is not in list

In [7]:
b = A.index(2)
type(b)

int

In [2]:
A.append("NNN")
print(type(A))
print(A)

<class 'list'>
[1, 2, 33, 'AA', 'NNN']