# Sets 

### 1. Unordered -- The items in the set are unordered, i.e., it will not maintain the order in which the items are inserted.
### 2. Unindexed - Set items are unindexed.
### 3. Unique: There cannot be two items with the same value in the set.
### 4. Set items must be immutable --  We cannot change the set items.
### 5. Sets are MUTABLE.

- SET is a collection of immutable things to preseve there **"CHARACTER"** -- **Preserve its UNIQUENESS-- uniqueness**
- We use **"Curly" brackets {}**

In [1]:
# SET is a collection of immutable things to preseve there "CHARACTER"  -- **Preserve its UNIQUENESS-- uniqueness**

In [1]:
# Sets

s = {1,2,3}   # Curly brackets
s

{1, 2, 3}

In [2]:
# Set Methods 

set = {1, "string", 2}

# .add(item)   ---- This is same as .append() in lists
set.add(45)
print(set)

# . update(iterable)   ---- This is same as .extend() in lists
set.update("str")
print(set)

# .remove()
set.remove(45)
print(set)

{1, 'string', 2, 45}
{1, 2, 't', 'string', 45, 'r', 's'}
{1, 2, 't', 'string', 'r', 's'}

In [1]:
# . update(iterable)   ---- This is same as .extend() in lists
Set.update(str)
print(Set)

NameError: name 'Set' is not defined

In [4]:
# . update(iterable)   ---- This is same as .extend() in lists
Set = {1, 2, 4}
Set.update(str)
print(Set)

TypeError: 'type' object is not iterable

In [2]:
Set1 = {1, 2, 4}
Set1.update("[List]")
print(Set1)

{1, 2, 4, 'i', ']', 'L', 's', 't', '['}

In [2]:
Set2 = {1, 2, 4}
Set2.update("{SET}")
print(Set2)

{1, 2, 4, '{', 'E', 'T', 'S', '}'}

In [3]:
Set3 = {1, 2, 4, [1,2,3,4,5,6]}
print(Set3)

TypeError: unhashable type: 'list'

In [4]:
Set4 = {1, 2, 4, {1,2,3,"abc"}}
print(Set4)

TypeError: unhashable type: 'set'

In [5]:
FF = {1,2,3,"AJ","ff"}
print(id(FF))
FF.add("DATA")
print(id(FF))

1692849992672
1692849992672

In [7]:
# Union

a ={1,2,3,4,5,66}
b ={1,2,3,4,55}
a.union(b)
print(a)

print("Union Method is used", a.union(b))
print("Update Method is used", a.update(b))

{1, 2, 3, 4, 5, 66}
Union Method is used {1, 2, 3, 4, 5, 66, 55}
Update Method is used None

In [8]:
# Union

a ={1,2,3,4,5,66}
b ={1,2,3,4,55}
a.union(b)
print(a)

print("Union Method is used", a.union(b))
a.update(b)
print("Update Method is used", a)

{1, 2, 3, 4, 5, 66}
Union Method is used {1, 2, 3, 4, 5, 66, 55}
Update Method is used {1, 2, 3, 4, 5, 66, 55}

In [3]:
# Intersection

x = {1,2,3,4,5}
y = {2,3,4,55}

print(x.intersection(y))              # This will not apply the changes to "x"
print(x)
x.intersection_update(y)       # This will APPLY the changes to "x"
print(x)

{2, 3, 4}
{1, 2, 3, 4, 5}
{2, 3, 4}

In [4]:
# Difference
p = {"str,"hello",True,1,False}
q = {1,2,3,"Hello","str"}
print(p.difference(q))
p.difference_update(q)
print(p)

SyntaxError: unterminated string literal (detected at line 2) (3253805224.py, line 2)

In [5]:
# Difference
p = {"str", "hello",True,1,False}
q = {1,2,3,"Hello","str"}
print(p.difference(q))
p.difference_update(q)
print(p)

{False, 'hello'}
{False, 'hello'}

In [6]:
# Symmetric Difference

p = {"str", "hello",True,1,False}
q = {1,2,3,"Hello","str"}
print(p.symmetric_difference(q))
p.symmetric_difference_update(q)
print(p)

{False, 2, 3, 'hello', 'Hello'}
{False, 2, 3, 'Hello', 'hello'}

In [7]:
# Symmetric Difference

p = {"str", "hello",True,1,False}
q = {1,2,3,"Hello","str"}
print(id(p))
print(p.symmetric_difference(q))
p.symmetric_difference_update(q)
print(p)
print(id(p))

1552138954656
{False, 2, 3, 'hello', 'Hello'}
{False, 2, 3, 'Hello', 'hello'}
1552138954656

In [21]:
# Intersection

x = {1,2,3,4,5}
y = {2,3,4,55}

k = x.intersection(y)              # This will not apply the changes to "x"

z = x.intersection_update(y)       # This will APPLY the changes to "x"

print(x)
print(y)
print(z)

{2, 3, 4}
{2, 3, 4, 55}
None

# Subset and Superset

In [9]:
r = {1,2,3,4,5,6,7,8,9,99}
s = {1,2,3,4,6,8}

s.issubset(r)
s.issubset(s)

True

In [11]:
r = {1,2,3,4,5,6,7,8,9,99}
s = {1,2,3,4,6,8}

r.issubset(s)

False

In [10]:
r = {1,2,3,4,5,6,7,8,9,99}
s = {1,2,3,4,6,8}

s.issubset(s)

True

# Superset

In [12]:
r = {1,2,3,4,5,6,7,8,9,99}
s = {1,2,3,4,6,8}

r.issuperset(s)

True

In [13]:
r = {1,2,3,4,5,6,7,8,9,99}
s = {1,2,3,4,6,8}

s.issuperset(r)

False

In [14]:
r = {1,2,3,4,5,6,7,8,9,99}
s = {1,2,3,4,6,8}

s.issuperset(s)

True

In [16]:
r = {1,2,3,4,5,6,7,8,9,99}
s = {1,2,3,4,6,8}

print(r.issuperset(r))
print(s.issuperset(s))
print(s.issuperset(r))
print(r.issuperset(s))

True
True
False
True

In [17]:
r = {1,2,3,4,5,6,7,8,9,99}
s = {1,2,3,4,6,8}

d = r.issuperset(r)
print(d)

True

# Disjoint SET

In [18]:
v = {1,2,3,77,88,99}
w = {22,11,33,44}
v.isdisjoint(w)

True

In [19]:
v.isdisjoint(v)

False