## Recursion -- 



- A recursion function is a function that call itself, **AGAIN and AGAIN**

In [ ]:
def my_func():
    my_func()

my_func()        #### Infinite loop is "FORMED"

Factorial 4  = 4 * Factorial 3
             = 4 * 3 * Factorial 2
             = 4 * 3 * 2 * Factorial 1
             = 4 * 3 * 2 * 1
             = 24

In [1]:
N = int(input(N))
def fact(N):
    if N == 0:
        return 1
    else:
        return N * fact(N-1)
    
print("Factorial of Number is:", fact(N))

NameError: name 'N' is not defined

In [3]:
6*5*4*3*2*1

720

## Calculating Factorial  -- "BY Recursion"

In [2]:
def fact(N):
    if N == 0:
        return 1
    else:
        return N * fact(N-1)
    
print("Factorial of Number is:", fact(6))

Factorial of Number is: 720

## Lambda Function (Anonymous - function)

In [ ]:
#   Used for instant use
##  Used for one-TIME "ONLY"
### Written in just one "LINE"

In [ ]:
# lambda : expression                        --- Coding Formate
# lambda (Parameters): expression            --- Coding Formate

In [4]:
lambda : print("Hello World")              ### Function is "NOT called"

In [5]:
(lambda : print("Hello World"))()          ### Function is "CALLED"

Hello World

In [2]:
(lambda : print(""))()          ### Function is "CALLED"

## print()  -- is an expression as "None is printed here -- None data type"

In [6]:
lambda: print("Hello World")              ### Function is "NOT called"

In [7]:
lambda:print("Hello World")              ### Function is "NOT called"

In [8]:
help(expression)

NameError: name 'expression' is not defined

In [9]:
help(lambda)

SyntaxError: invalid syntax (670488139.py, line 1)

In [12]:
help(help)

Help on _Helper in module _sitebuiltins object:

class _Helper(builtins.object)
 |  Define the builtin 'help'.
 |
 |  This is a wrapper around pydoc.help that provides a helpful message
 |  when 'help' is typed at the Python interactive prompt.
 |
 |  Calling help() at the Python prompt starts an interactive help session.
 |  Calling help(thing) prints help for the python object 'thing'.
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwds)
 |      Call self as a function.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [5]:
sum = 12
lambda a : sum = 9

SyntaxError: cannot assign to lambda (63604583.py, line 2)

In [6]:
sum = 12
lambda (a) : sum = 9

SyntaxError: invalid syntax (633983257.py, line 2)

In [8]:
sum = 12
lambda : sum = 9

SyntaxError: cannot assign to lambda (305360237.py, line 2)

In [9]:
sum = 9
lambda : sum = 9    ## Assignment operators Can't be used  -- Assign -- Error -- It is not an expression

SyntaxError: cannot assign to lambda (2531319543.py, line 2)

In [10]:
(lambda x,y: print(x+y)(10,5))

In [11]:
# lambda (Parameters): expression            --- Coding Formate
(lambda x,y: print(x+y))(10,5)

15

In [7]:
# lambda (Parameters): expression            --- Coding Formate
(lambda x,y: print(x-y))(10,5)

5

In [10]:
range(1,7)

range(1, 7)

In [11]:
# filter(function,iterable)
filter(lambda x: x%2==0 , (1,2,3,4,5,6,7,8,9,10))

In [12]:
# filter(function,iterable)
type(filter(lambda x: x%2==0 , (1,2,3,4,5,6,7,8,9,10)))

filter

In [13]:
# filter(function,iterable)
list(filter(lambda x: x%2==0 , (1,2,3,4,5,6,7,8,9,10)))

[2, 4, 6, 8, 10]

In [14]:
# filter(function,iterable)
list(filter(lambda x: True , (1,2,3,4,5,6,7,8,9,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# filter(function,iterable)
list(filter(lambda x: False , (1,2,3,4,5,6,7,8,9,10)))

[]

In [16]:
# filter(function,iterable)
list(filter(lambda x: None , (1,2,3,4,5,6,7,8,9,10)))

[]

In [17]:
# filter(function,iterable)
list(filter(lambda x: 55 , (1,2,3,4,5,6,7,8,9,10)))   ## 55 is "True in PYthon"

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# filter(function,iterable)
list(filter(lambda x: "DATA" , (1,2,3,4,5,6,7,8,9,10)))   ## "DATA" is "True in PYthon"

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# filter(function,iterable)
list(filter(lambda x: 0 , (1,2,3,4,5,6,7,8,9,10)))   ## "0" is "False in PYthon"

[]

In [21]:
# filter(function,iterable)
tuple(filter(lambda x: None , (1,2,3,4,5,6,7,8,9,10)))

()

In [22]:
# filter(function,iterable)
tuple(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))

(3, 6, 9)

In [23]:
# filter(function,iterable)
str(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))  ##  find answer yourself

'<filter object at 0x00000146221C2350>'

In [28]:
str("Data")

'Data'

In [29]:
# filter(function,iterable)
(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))

In [24]:
# filter(function,iterable)
dict(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [25]:
# filter(function,iterable)
range(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))

TypeError: 'filter' object cannot be interpreted as an integer

In [26]:
# filter(function,iterable)
set(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))

{3, 6, 9}

In [27]:
# filter(function,iterable)
type(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))

filter

In [42]:
# filter(function,iterable)
bool(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))

True

In [43]:
# filter(function,iterable)
int(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'filter'

In [44]:
# filter(function,iterable)
float(filter(lambda x: x%3==0 , (1,2,3,4,5,6,7,8,9,10)))

TypeError: float() argument must be a string or a real number, not 'filter'

In [46]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [30]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = (map(lambda y : y-5, list11))
print("Result is:", list22)

Result is: <map object at 0x00000146238D6A10>

In [31]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = list(map(lambda y : y-5, list11))
print("Result is:", list22)

Result is: [-1, 0, 1, 84, 83, 85]

In [32]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = list(map(lambda y : "DATA", list11))
print("Result is:", list22)

Result is: ['DATA', 'DATA', 'DATA', 'DATA', 'DATA', 'DATA']

In [33]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = tuple(map(lambda y : "DATA", list11))
print("Result is:", list22)

Result is: ('DATA', 'DATA', 'DATA', 'DATA', 'DATA', 'DATA')

In [34]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = set(map(lambda y : "DATA", list11))
print("Result is:", list22)

Result is: {'DATA'}

In [35]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = str(map(lambda y : "DATA", list11))
print("Result is:", list22)

Result is: <map object at 0x00000146238A9D50>

In [36]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = dict(map(lambda y : "DATA", list11))
print("Result is:", list22)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [37]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = range(map(lambda y : "DATA", list11))
print("Result is:", list22)

TypeError: 'map' object cannot be interpreted as an integer

In [38]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = bool(map(lambda y : "DATA", list11))
print("Result is:", list22)

Result is: True

In [39]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = int(map(lambda y : "DATA", list11))
print("Result is:", list22)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'map'

In [40]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = float(map(lambda y : "DATA", list11))
print("Result is:", list22)

TypeError: float() argument must be a string or a real number, not 'map'

In [41]:
## map(function,iterable)
### Takes a function as a first argument and applies it to each of the elment of the iterable

list11 = [4,5,6,89,88,90]
list22 = type(map(lambda y : "DATA", list11))
print("Result is:", list22)

Result is: <class 'map'>

In [45]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [47]:
(lambda x : if(x%2==0): print(x)) (2)

SyntaxError: invalid syntax (1745699923.py, line 1)

In [48]:
if(x%2==0): print(x)

NameError: name 'x' is not defined

In [50]:
x = 10
if(x%2==0): print(x)

10

In [51]:
z = 10
(lambda x : if(z%2==0): print(z)) ()

SyntaxError: invalid syntax (922344802.py, line 2)

In [52]:
z = 10
(lambda x : if(z%2==0): print(z)) (10)

SyntaxError: invalid syntax (2316274839.py, line 2)

In [1]:
## Single Line if statement

x = 55
y = 99

if x>y: print(x)
elif x == y: print(y)
else: print(x,y)

55 99