# Practice

In [1]:
lisT = [12, 13, 14, 66, "DATA"]
print(id(lisT))
z = lisT.append("Scientist")
print(type(z))
print(lisT)

print(z)

print(id(lisT))
print(id(z))

1772535778752
<class 'NoneType'>
[12, 13, 14, 66, 'DATA', 'Scientist']
None
1772535778752
140716162379456

In [1]:
k = [12, 13, 14, 66, "DATA"]
print(id(k))
k = k.append("Scientist")
print(type(k))
print(k)
print(id(k))

1981716227776
<class 'NoneType'>
None
140716162379456

- List within a list is **"Immutable"** --- "MAY BE"  --- CHECK IT

In [3]:
P = [1,2,33,55,77,88, [123, 111, 444, ["aaa","bbb","fff"]]] # List within a list is "Immutable" --- "MAY BE"  --- CHECK IT
print(P)

[1, 2, 33, 55, 77, 88, [123, 111, 444, ['aaa', 'bbb', 'fff']]]

In [2]:
a = {1,2,34,66,"list","set"}
b = {1,33,"Dic"}
print(a)
print(id(a))
c = a.update(b)
print(c)
print(a)
print(id(c))
# since here the update method is modifing set"a" therefore it will return "NONE" if we want to get some result from "c" 


#  Here "a" is now modified by update method and set"a" has new elements which are in set "b" thus here a new set 
## is not formed when we are apllying "UPDATE" method on set "a".
### If we want a new set in which elements set "a" and  elements set "b" both should be present "THEN" we have to create new set
#### let it be "d" this "NEW SET" will have a separate momery location because 
##### here in this case neither set "a" nor set "b" is modified
###### ID of set "a" and ID of modified (here set "c") will be same because of the MUTABLE property of sets BUT the ID of set
####### Created by "UNION METHOD" will be different because here in this case we have create a new set d = a.union(b)

d = a.union(b)  # here set "a" is not modified BUT a new set "d" is created
print(d)
print(id(d))
print(id(a))

{'list', 1, 2, 34, 66, 'set'}
2200556069472
None
{'list', 1, 2, 34, 66, 33, 'Dic', 'set'}
140716527873728
{'list', 1, 2, 34, 66, 33, 'Dic', 'set'}
2200556069696
2200556069472

## -- IMPORTANT EXAMPLE

In [1]:
xx = {1,"string",2}
z = xx.add(45)
print(xx)
print(z)
print(id(z))

{1, 2, 'string', 45}
None
140704104214208

In [2]:
y = xx.remove(45)
print(xx)
print(y)
print(id(y))   #   -- all none type DATA is stored at **ONE LOCATION**

{1, 2, 'string'}
None
140704104214208