<br><font size = 6.5> OOPS <br>    
     <font size = 3.5>- Object Oriented programming

<font size = 5.5> Every object has the following properties: <br>
    <font size = 3.5>1. Identity: Every object must be uniquely Identified.(Address) Memory Location <br>
    2. State: An object has attributes() that represent the state of an object. <br>
    3. Behaviour: An object has methods (functions) that represent its behaviour. <br>

<font size = 4> Object is an instance (Example) of a class.

<font size = 4.5> Class is a blueprint (FORMAT) or code template for object creation. Using a class, you can create as many objects as you want.

In [2]:
## Creating a class  -- Doc String - to explain about a class

class class_name:
    """This is a Doc-String. I have created a Class."""
    
class_name.__doc__

'This is a Doc-String. I have created a Class.'

In [3]:
## Class Creation
class Preson:
    
    def __init__():
        self.name = Name
        self.age  = Age
        self.job  = Job

In [4]:
## Object Creation

Aj = Preson()        ## Object is passing itself to "__init__"  and no parameter is there....

TypeError: Preson.__init__() takes 0 positional arguments but 1 was given

In [4]:
# Define a class
class Person:
    def __init__(self,name,gender,profession):       ### Object initialization
        ## State(attribute -- variables)
        self.name_        = name
        self.gender_      = gender
        self.profession_  = profession
        
    ## Behaviour (methods)

In [3]:
## Object Creation

Person("Aj","Male","Data Scientist")
Person("SS","Female","Teacher")

In [6]:
Person("SS","Female","Teacher")

In [7]:
Person("Aj","Male","Data Scientist")

In [10]:
## Object Creation

Aj = Person("Aj","Male","Data Scientist")
SS = Person("SS","Female","Teacher")

In [11]:
print(Aj.profession_)
print(Aj.name_)
print(Aj.gender_)

Data Scientist
Aj
Male

In [14]:
Aj.salary_ = 1000000000000000000
print(Aj.salary_)

1000000000000000000

In [17]:
print(Aj.profession_,Aj.name_,Aj.gender_,Aj.salary_)

Data Scientist Aj Male 1000000000000000000

In [4]:
lst = [1,2,3,4,5,6]
lst.append(4)
lst

[1, 2, 3, 4, 5, 6, 4]

In [1]:
# Define a class
class Person:
    def __init__(self,name,gender,profession):       ### Object initialization
        ## Sate(attribute -- variables)
        self.name_        = name
        self.gender_      = gender
        self.profession_  = profession    ## instance variable
        
    ## Behaviour (methods)
    def show(self):
        print("Name:", self.name_, "Gender:", self.gender_, "Profession:", self.profession_)
    
    def work(self):
        print(self.name_, "is working as a", self.profession_)
        
## --> In Self --- Object being initialised is " Moving to self  -- self is object...."    --> Important...

In [19]:
## Object Creation

Aj = Person("Aj","Male","Data Scientist")
SS = Person("SS","Female","Teacher")
RR = Person("RR","Male", "DATA Anaylist")

In [ ]:
# Creating attributes outside the class

In [9]:
Aj.work()

Aj is working as a Data Scientist

In [10]:
SS.show()

Name: SS Gender: Female Profession: Teacher

In [20]:
RR.show()

Name: RR Gender: Male Profession: DATA Anaylist

In [12]:
Aj.Marital_status_ = "Married"
print(Marital_status_)

NameError: name 'Marital_status_' is not defined

In [13]:
Aj.Marital_status_ = "Married"
print(Aj.Marital_status_)

Married

In [16]:
SS.profession_ = "Principal"              ## Editing the DATA in Person()
print(SS.profession_)

Principal

<font size = 6.5> Difference Between functions and Methods <br>
    <font size = 3.5> Methods are defined for the ojects of a particular class *whereas* functions are not defined for a particular class.<br>
        Methods are functions defined in a particular class...**__init__**  -- **A Method.**

In [27]:
## - Methods are functions defined in a particular class...__init__ is  -- Method..

In [1]:
help(keywords)

NameError: name 'keywords' is not defined

In [2]:
help(keyword)

NameError: name 'keyword' is not defined

<font size = 6.5> Class Attributes <br>
    <font size = 3.5>1. Instance Variable<br>2. Class Variable

In [6]:
<font size = 4.5> Instance Variable  -- Attached to an istance (oject) of a class.<br>
                    -- Defined inside any method but generally inside the __init__() method. <br>
                   -- Every object will have it's own copy  


### Class Variables -- - Attached to the class
###                      Declared inside the class but outside of any method
###                 --- Every object will share the same class variable........  "IMPORTANT"

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

<font size = 4.5> Instance Variable <br>
    <font size = 3.5>
        -- Attached to an istance (oject) of a class.<br>
        -- Defined inside any method but generally inside the __init__() method. <br>
        -- Every object will have it's own copy. <br>


<font size = 4.5> Class Variables <br>
    <font size = 3.5>
        -- Attached to the class.<br>
        -- Declared inside the class but outside of any method. <br>
        -- Every object will share the same class variable........  "IMPORTANT"<br>

In [22]:
class Student:
    ## Class Variables
    school_name = "ABC School"
    
    def __int__(self,name,age):    ##  Error -->  __init__
        # Instance Variables
        self.name = name
        self.age  = age

s1 = Student("AJ",12)

TypeError: Student() takes no arguments

In [24]:
class Student:
    ## Class Variables
    school_name = "ABC School"
    
    def __init__(self,name,age):
        # Instance Variables
        self.name = name
        self.age  = age

s1 = Student("AJ",12)

## self.name & self.age  --- Instance Variables
## name & age  --- Local Variables

In [25]:
# Access instance Variables
print("Student: ", s1.name,s1.age)

Student:  AJ 12

In [26]:
# Access class Variables
print("School name : ", Student.school_name)

School name :  ABC School

### 31 July 2023

In [11]:
# Different class - In PYthon
## Class of list
set11 = [1,2,3,4]
print(type(set11))

<class 'list'>

In [7]:
# Different class - In PYthon
def fun_11():
    pass
print(type(fun_11))

<class 'function'>

In [8]:
# Different class - In PYthon
## Class of set
set1 = {1,2,3,4,5,6}
print(type(set1))

<class 'set'>

In [9]:
# Different class - In PYthon
## Class of boolean
set2 = True
print(type(set2))

<class 'bool'>

In [10]:
# Different class - In PYthon
## Class of integer
set12 = 1111
print(type(set12))

<class 'int'>

In [12]:
# Different class - In PYthon
## Class of float
set21 = 11.11
print(type(set21))

<class 'float'>

In [13]:
class Student:
    ## Class Variables
    school_name = "ABC School"
    
    def __init__(self,name,age):
        # Instance Variables
        self.name = name
        self.age  = age

s1 = Student("AJ",40)

## self.name & self.age  --- Instance Variables
## name & age  --- Local Variables

In [14]:
# Modify instance variables
s1.name = "TAVI"
s1.age = 4
print("Student:",s1.name,s1.age)

Student: TAVI 4

In [15]:
# Modify class variables
Student.school_name = "XYZ School"
print("School name:",Student.school_name)

School name: XYZ School

In [13]:
## Experiment
s2 = Student("NOMI",8)
s2.school_name = "XYZ SCHOOL"   # This creates an instance variable "school_name" -- for s2
print(s2.school_name)
print(type(s2.school_name))
print(Student.school_name)    #### But the class variable "school_name" does not change
print(type(Student.school_name))

XYZ SCHOOL
<class 'str'>
XYZ School
<class 'str'>

In [8]:
s1.school_name

'XYZ School'

In [15]:
s1.profession = "DATA Scientist"
s2.profession

AttributeError: 'Student' object has no attribute 'profession'

In [19]:
Student.profession = "DATA scientist"

print(s1.profession,"\n",s2.profession)

DATA Scientist
 DATA scientist

<font size = 4> 1st AUGUST 2023

In [1]:
class Student:
    ## Class Variables
    school_name = "ABC School"
    
    def __init__(self,name,age):
        # Instance Variables
        self.name = name
        self.age  = age

s1 = Student("AJ",12)

## self.name & self.age  --- Instance Variables
## name & age  --- Local Variables

In [2]:
## Experiment
s2 = Student("NOMI",8)
print(s2.school_name)
s2.school_name = "XYZ SCHOOL"   # This creates an instance variable "school_name" -- for s2
print(s2.school_name)
print(type(s2.school_name))
print(Student.school_name)    #### But the class variable "school_name" does not change
print(type(Student.school_name))

ABC School
XYZ SCHOOL
<class 'str'>
ABC School
<class 'str'>

In [3]:
s3 = Student("SS", 36)
s3.school_name

'ABC School'

In [4]:
s3 = Student("SS", 36)
s3.school_name = "Teacher"
s3.school_name

'Teacher'

### Deleting  -- object attributes

In [5]:
del s2.school_name

In [6]:
s2.school_name

'ABC School'

### Deleting -- an "Object"

In [7]:
del s2

In [8]:
s2.school_name

NameError: name 's2' is not defined

In [9]:
del school_name

NameError: name 'school_name' is not defined

In [ ]:
del

In [4]:
# Modify instance variables
s1.name = "TAVI"
s1.age = 04
print("Student:",s1.name,s1.age)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1353732123.py, line 3)