### Function for SETS

In [17]:
x={1,2,3,4}
y={3,4,5,88}
print(x)

x.update(y)         # this apply changes to x
print(x)
print(id(x))

x.union(y)          # it creates a another set

print(x)
print(id(x))

x.intersection(y)   # new set

print(id(x.union(y)))
print(id(x.intersection(y)))

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 88}
1933693564320
{1, 2, 3, 4, 5, 88}
1933693564320
1933693566560
1933693563648

In [1]:
# Finding length of the set -- len()
a = {1,2,3,4,5,6,7}
len(a)

7

In [2]:
# Minimum and Maximum values 
a = {1,2,3,4,5,6,7,99}
print(min(a))
print(max(a))

1
99

In [3]:
min({"a","b","A","B"})      # Lower case alphabets Have a higher value

'A'

In [7]:
min({"a","b","A","B",1})

TypeError: '<' not supported between instances of 'int' and 'str'

In [8]:
sum({"a","b","A","B"})

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
min({"a","b","A","B",1})

TypeError: '<' not supported between instances of 'str' and 'int'

In [1]:
min({"a","b","A","B"})

'A'

In [5]:
max({"a","b","A","B"})

'b'

In [6]:
# Adding all the values inside a set
x = {1,2,3,4,5,6,7,99}
print(sum(x))

127

In [2]:
<fontsize=3>  aaa
<br>

SyntaxError: invalid syntax (1638458081.py, line 1)

<font size=3>  aaa

# Dictionaries

### Dictionaries are ORDERED collections of unique ITEMS (Key and values) stored in (Key-Value) Pairs.

### 1. Ordered: Dictionaries are ordered, which means that the items have a defined order, and that order will not change

### 2. Unique: The keys in Dictionaries should be unique. If we store any value with a Key that already exists, then the most recent value will replace the old value.

### 3. Keys must be of immutable DATA TYPE.

### 4. Dictionaries are MUTABLE.

####  Key-Value means -- "A Item"

### Key means {Immutable} -- WORD and meaning means -- VALUE {mutable} 


### Key means  -- A,B,C, ...... (in a ENGLISH - DICtionary)  --- Keys should be unique....must not change.

In [1]:
<Dict> = {"Mango":12,"Lichi":45}

SyntaxError: invalid syntax (3385818114.py, line 1)

In [4]:
xx = {22:"Aj", 33:"SS",22:"DATA"}  # ,22:"Scientist"}
xx

{22: 'DATA', 33: 'SS'}

In [5]:
xx = {22:"Aj", 33:"SS",22:"DATA",22:"Scientist"}
xx

{22: 'Scientist', 33: 'SS'}

In [7]:
xx = {22:"Aj", 33:"SS",22:"DATA",22:"Scientist",44:"AJ",55:"AJ",77:"AJ"} # Key is Unique -- immutable
xx

{22: 'Scientist', 33: 'SS', 44: 'AJ', 55: 'AJ', 77: 'AJ'}

In [8]:
xx[2]

KeyError: 2

In [9]:
xx[22]

'Scientist'

In [11]:
xx[22]
xx

{22: 'Scientist', 33: 'SS', 44: 'AJ', 55: 'AJ', 77: 'AJ'}

In [9]:
x = {"apple":12,"Banana":45}
x

{'apple': 12, 'Banana': 45}

In [12]:
x = {"apple":12,56:True,"tuple":(1,2,3)}
print(x)

{'apple': 12, 56: True, 'tuple': (1, 2, 3)}

In [13]:
y = {["AA"]:55,(1,2): "Hello world"} # ["AA"] is a list, mutable type which cannot be used as "Key"

TypeError: unhashable type: 'list'

In [ ]:
# Homework  create empty set

In [23]:
x = {} ; y = { }
print(type(y))
print(type(x))

<class 'dict'>
<class 'dict'>

In [20]:
x = {,}

SyntaxError: invalid syntax (4222109035.py, line 1)

In [24]:
x = {1,2}
y = {3,4}

x.intersection(y)
print(x.intersection(y))

set()

## Accessing items in a Dictionary

In [52]:
a = {"India":"Delhi","USA":"Washington"}
a

{'India': 'Delhi', 'USA': 'Washington'}

In [53]:
# Keys
print(a.keys())

# Values
print(a.values())


# Items
print(a.items())

dict_keys(['India', 'USA'])
dict_values(['Delhi', 'Washington'])
dict_items([('India', 'Delhi'), ('USA', 'Washington')])

In [55]:
print(type(a))
print(type(a.keys()))
print(type(a.values()))
print(type(a.items()))        # check mutable or immutable

<class 'dict'>
<class 'dict_keys'>
<class 'dict_values'>
<class 'dict_items'>

In [57]:
b = a.items()
print(str(type(b))

SyntaxError: incomplete input (2108570956.py, line 2)

In [58]:
b = a.items()
print(str(type(b)))

<class 'dict_items'>

In [59]:
b = a.items()
print(list(type(b)))

TypeError: 'type' object is not iterable

In [56]:
p = a.items()
p[0]

TypeError: 'dict_items' object is not subscriptable

## Adding new items to a Dictionary

In [ ]:
a = {"India":"Delhi","USA":"Washington"}
a

In [30]:
a["Pakistan"] = "Islamabad"
print(a)

{'India': 'Delhi', 'USA': 'Washington', 'Pakistan': 'Islamabad'}

In [31]:
# .update()
a.update({"England":"London"})
a

{'India': 'Delhi',
 'USA': 'Washington',
 'Pakistan': 'Islamabad',
 'England': 'London'}

In [32]:
# .update()
a.update({"England":"London"})
print(a)

{'India': 'Delhi', 'USA': 'Washington', 'Pakistan': 'Islamabad', 'England': 'London'}

{'India': 'Delhi',
 'USA': 'Washington',
 'Pakistan': 'Islamabad',
 'England': 'London'}

#  Removing items from a dictionary

In [37]:
# .popitems  -- Returns and removes the last inserted item from the dictionary
a = {'India': 'Delhi', 'USA': 'Washington', 'Pakistan': 'Islamabad', 'England': 'London'}
print(id(a))
x = a.popitem()
print(id(a))
print(a)
print(id(x))
print(x)     ### DATA type is "TUPLE Type"

1933722427648
1933722427648
{'India': 'Delhi', 'USA': 'Washington', 'Pakistan': 'Islamabad'}
1933722591872
('England', 'London')

In [38]:
# .pop()     #  Remove the item with the key and return its value
a.pop("USA")

print(a)
print(id(a))

{'India': 'Delhi', 'Pakistan': 'Islamabad'}
1933722427648

In [39]:
del a["Pakistan"]
print(id(a))
print(a)

1933722427648
{'India': 'Delhi'}

In [41]:
xx = {"AJ":"{"A" : "1,2,3"}}
print(xx)

SyntaxError: unterminated string literal (detected at line 1) (2362699101.py, line 1)

In [43]:
a = {{'USA': 'Washington'}: 'Delhi',  'Pakistan': 'Islamabad', 'England': 'London'}

TypeError: unhashable type: 'dict'

In [45]:
# Nested dictionary

a = {'India': {'USA': 'Washington'} , 'Pakistan': 'Islamabad', 'England': 'London'}  # dictionary within dictionary
a

{'India': {'USA': 'Washington'}, 'Pakistan': 'Islamabad', 'England': 'London'}

In [51]:
z = [{}]
print(type(z))

<class 'list'>

In [46]:
y = (,)

SyntaxError: invalid syntax (3787024218.py, line 1)

In [5]:
y = ()
print(y)
print(type(y))

()
<class 'tuple'>

In [8]:
L = []
print("L")
print(type(L))

L
<class 'list'>

In [10]:
L = list()
print(L)
print(type(L))

[]
<class 'list'>

In [14]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [1]:
x = {}
print(type(x))
x = set(x)
print(type(x))       # NULL set is created

<class 'dict'>
<class 'set'>

In [2]:
y = set()
type(y)

set

In [ ]:
a = {"India":"Delhi","USA":"Washington"}
a

In [ ]:
print(type(a))
print(type(a.keys()))
print(type(a.values()))
print(type(a.items()))        # check mutable or immutable