## Range Objects (or range data type) is an immutable sequence of "INTEGERS" starting from the given start integer to the stop integer.

### Used in " loops "
### Default Value of -- start is '0'

In [1]:
# range (start,stop,step)
x = range(1,11,2)
x

range(1, 11, 2)

In [1]:
# range (start,stop,step)
x = range(1,11,2)
x[0]

1

In [2]:
# Let us check the data type of range object  --- **type casting**
type(range(1,10))

range

In [3]:
# range indexing
range_x = range(1,10)
range_x[3]

4

In [4]:
# type Casting
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
# type Casting
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# What happens when I pass only one "ARGUMENT" in range()

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# What happens when I pass only one "ARGUMENT" in range()

str(range(10))            # Default starting value is '0'

'range(0, 10)'

In [8]:
# What happens when I pass only one "ARGUMENT" in range()

dict(range(10))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [9]:
# What happens when I pass only one "ARGUMENT" in range()

str(range(30))     # by "DEFAULT" Starting value is 0

'range(0, 30)'

In [1]:
# What happens when I pass only one "ARGUMENT" in range()

set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
# What happens when I pass only one "ARGUMENT" in range()

int(range(10))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'range'

In [3]:
# What happens when I pass only one "ARGUMENT" in range()

bool(range(10))

True

In [4]:
# What happens when I pass only one "ARGUMENT" in range()

complex(range(10))

TypeError: complex() first argument must be a string or a number, not 'range'

In [5]:
# What happens when I pass only one "ARGUMENT" in range()

None(range(10))

<>:3: SyntaxWarning: 'NoneType' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'NoneType' object is not callable; perhaps you missed a comma?
C:\Users\user\AppData\Local\Temp\ipykernel_8444\2161819841.py:3: SyntaxWarning: 'NoneType' object is not callable; perhaps you missed a comma?
  None(range(10))
C:\Users\user\AppData\Local\Temp\ipykernel_8444\2161819841.py:3: SyntaxWarning: 'NoneType' object is not callable; perhaps you missed a comma?
  None(range(10))
C:\Users\user\AppData\Local\Temp\ipykernel_8444\2161819841.py:3: SyntaxWarning: 'NoneType' object is not callable; perhaps you missed a comma?
  None(range(10))
C:\Users\user\AppData\Local\Temp\ipykernel_8444\2161819841.py:3: SyntaxWarning: 'NoneType' object is not callable; perhaps you missed a comma?
  None(range(10))

TypeError: 'NoneType' object is not callable

In [1]:
# What happens when I pass only one "ARGUMENT" in range()

str(range(30))     # by "DEFAULT" Starting value is 0

'range(0, 30)'

In [10]:
type('range(0, 30)')

str