## Using Print command and Escape sequences only.

In [4]:
print("Name of student""\t\tAA\t\tBB\t\tCC\t\tDD")
print("\n")
print("Hindi          ""\t\t90\t\t80\t\t77\t\t91")
print("\n")
print("English        ""\t\t65\t\t55\t\t88\t\t79")
print("\n")
print("Sanskrit       ""\t\t91\t\t85\t\t75\t\t65")
print("\n")
print("SST            ""\t\t92\t\t88\t\t98\t\t58")

Name of student		AA		BB		CC		DD


Hindi          		90		80		77		91


English        		65		55		88		79


Sanskrit       		91		85		75		65


SST            		92		88		98		58

In [3]:
print("Name of student""\t\tAA\t\tBB\t\tCC\t\tDD\n")
print("Hindi          ""\t\t90\t\t80\t\t77\t\t91\n")
print("English        ""\t\t65\t\t55\t\t88\t\t79\n")
print("Sanskrit       ""\t\t91\t\t85\t\t75\t\t65\n")
print("SST            ""\t\t92\t\t88\t\t98\t\t58")

Name of student		AA		BB		CC		DD

Hindi          		90		80		77		91

English        		65		55		88		79

Sanskrit       		91		85		75		65

SST            		92		88		98		58

## Q1. Take a two digit Integer form user and print the digit at one's place separately.

##  Q2. Take two numbers (two digit positive numbers) as inputs form the users and add two numbers in this way x + y = Z 
###   eg 25 + 36 = 2536.
 
 
##  Q3. Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
###  25
###  36
###  5*3 + 2*5 = 25

In [5]:
# Q1. take a two digit Integer form user and print the digit at one's place separately.

X = input("Enter a Two Digit integer: ")
Z = int(str(X))
print(type(Z))
Z%10

Enter a Two Digit integer: 234
<class 'int'>

4

In [1]:
x = int(input("Any number:  ")) ###  ***"Short coding -- Good"***  
print(x%10)

Any number:  123
3

In [6]:
X = input("Enter a First two digit integer:  ")
Y = input("Enter a Second two digit integer: ")
Q = int(str(X))
P = int(str(Y))

Z = X*10 + Y
print('\n')
print(Z)

Enter a First two digit integer:  55
Enter a Second two digit integer: 89


5555555555555555555589

In [7]:
#  Q2. Take two numbers (two digit positive numbers) as inputs form the users and add two numbers in this way x + y = Z 
 # eg 25 + 36 = 2536.
    
X = input("Enter a First two digit integer:  ")
Y = input("Enter a Second two digit integer: ")
Q = int(str(X))
P = int(str(Y))

Z = Q*100 + P
print('\n')
print(Z)

Enter a First two digit integer:  24
Enter a Second two digit integer: 56


2456

In [8]:
 #  Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*6 = 27
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = int(str(X))
P = int(str(Y))

A = Q%10
B = P%10
C = (Q//10)
D = (P//10)
E = A*D + B*C
print(A,B,C,D)
print("\n")
print(E)

Enter a First two digit integer:  24
24
Enter a Second two digit integer: 67
67
4 7 2 6


38

In [9]:
#  Q3. Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*6 = 27
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = print(type(int(str(X))))
P = print(type(int(str(Y))))

A = Q%10*(P//10)
B = P%10*(Q//10)
C = A + B
print(A,B , "\n" , C)

Enter a First two digit integer:  24
24
Enter a Second two digit integer: 67
67
<class 'int'>
<class 'int'>

TypeError: unsupported operand type(s) for %: 'NoneType' and 'int'

In [11]:
#  Q3. Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*6 = 27
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = print(type(int(str(X))))
P = print(type(int(str(Y))))

A = (Q%10)*(P//10)
B = (P%10)*(Q//10)
C = A + B
print(A,B , "\n" , C)

Enter a First two digit integer:  24
24
Enter a Second two digit integer: 67
67
<class 'int'>
<class 'int'>

TypeError: unsupported operand type(s) for %: 'NoneType' and 'int'

In [16]:
 #  Q3. Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*6 = 27
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = int(str(X))
P = int(str(Y))

A = (Q%10)*(P//10)
B = (P%10)*(Q//10)
C = A + B
print("\n" , A,B , "\n" , C)

Enter a First two digit integer:  24
24
Enter a Second two digit integer: 67
67

 24 14
 38

In [17]:
#  Q4. Find Average of two numbers.
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = int(str(X))
P = int(str(Y))

A = ((Q+P)//2)
print(A)

Enter a First two digit integer:  24
24
Enter a Second two digit integer: 46
46
35

In [18]:
#  Find Average of two numbers.
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = int(str(X))
P = int(str(Y))

A = ((Q+P)/2)
print(A)

Enter a First two digit integer:  55
55
Enter a Second two digit integer: 67
67
61.0

In [1]:
A = input("First Data:    ")     # using .replace() method
B = input("Second Data:   ")      
X = A + B
Y = A + B
X = X.replace(A+B, B)             # X,Y,A,B  are already STRINGS so no need to use DOUBLE Quotation MARKs
print(X)
Y = Y.replace(A+B, A)
print(Y)
B = X
A = Y
print(A,B)                        # Something is wrong. "IMPROVE IT"

First Data:    31+2j
Second Data:   45+j
45+j
31+2j
31+2j 45+j

In [1]:
A = input("First Data:    ")     # using .replace() method
B = input("Second Data:   ")      
X = Y = A + B
X = X.replace(A+B, B)             # X,Y,A,B  are already STRINGS so no need to use DOUBLE Quotation MARKs
print(X)
Y = Y.replace(A+B, A)
print(Y)

First Data:    qqqqqqqqq
Second Data:   eeee
eeee
qqqqqqqqq

In [1]:
a = input('First variable:  ')                # This is NOTHING
b = input('\nSecond variable: ')

x = b
y = a
a = x
b = y
print(x , y)
print(a,b)

First variable:  NNN

Second variable: HHH
HHH NNN
HHH NNN

In [2]:
a = input('First variable:  ')               # IMPORTANT STEP
b = input('\nSecond variable: ')
x = b
y = a 
a = x      # IMPORTANT STEP
b = y      # IMPORTANT STEP 
print(x , y)
print(a,b)

First variable:  HHHHHH

Second variable: NNNNN
NNNNN HHHHHH
NNNNN HHHHHH

In [6]:
A = input("First Data:    ")     # using .replace() method  --- DONE -- Swapping
B = input("Second Data:   ")      
X = A + B
Y = A + B
Q = X.replace(A+B, B)             # X,Y,A,B  are already STRINGS so no need to use DOUBLE Quotation MARKs
P = Y.replace(A+B, A)
A = Q
B = P
print(A,B)

First Data:    aaaaaaa
Second Data:   BB
BB aaaaaaa

In [1]:
A = input("First Data:    ")            #SWAPPING  using .split() method   +  INDEXING OF STRING
B = input("Second Data:   ")      
X = Y = A + B
P = X.split(A)             # X,Y,A,B  are already STRINGS so no need to use DOUBLE Quotation MARKs
print(P)
print(P[1])
Q = Y.split(B)
print(Q)
print(Q[0])
B = Q[0]
A = P[1]
print(A,B)

First Data:    AAAAAAAA
Second Data:   BB
['', 'BB']
BB
['AAAAAAAA', '']
AAAAAAAA
BB AAAAAAAA

# By Pushpendra ji  --- Mathematical Problem

In [1]:
#  Q3. Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*5 = 25
    
X = int(input("Enter a First two digit integer:  "))
Y = int(input("Enter a Second two digit integer: "))
print(X%10 * Y//10 + Y%10 * X//10)

Enter a First two digit integer:  21
Enter a Second two digit integer: 34
11

In [2]:
#  Q3. Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*5 = 25
    
X = int(input("Enter a First two digit integer:  "))
Y = int(input("Enter a Second two digit integer: "))
print(((X%10)*(Y//10)) + ((Y%10)*(X//10)))

Enter a First two digit integer:  21
Enter a Second two digit integer: 34
11

In [3]:
23%46

23

In [2]:
A = input("First Data:    ")            #SWAPPING  using .split() method   +  INDEXING OF STRING
B = input("Second Data:   ")      
X = A + B
P = X.split(A)             # X,Y,A,B  are already STRINGS so no need to use DOUBLE Quotation MARKs
print(P)
print(P[1])
Q = X.split(B)
print(Q)
print(Q[0])
B = Q[0]
A = P[1]
print(A,B)

First Data:    aaaaaaa
Second Data:   bb
['', 'bb']
bb
['aaaaaaa', '']
aaaaaaa
bb aaaaaaa

In [4]:
A = input("First Data:    "); B = input("Second Data:   "); A,B = B,A ; print("Swap Value A:" , A); print("Swap Value B:" , B)

First Data:    llllllllll
Second Data:   mmmm
Swap Value A: mmmm
Swap Value B: llllllllll

In [1]:
A = input("First Data:    ")
B = input("Second Data:   ") 
A,B = B,A 
print("Swapped Value A:" , A)
print("Swapped Value B:" , B)

First Data:    12
Second Data:   45
Swapped Value A: 45
Swapped Value B: 12

In [2]:
x,z =12,19
x,z = z,x
print(x,z)

19 12