In [5]:
# Swapping of two values.
x,z =12,19
x,z = z,x
print(x,z)

19 12

In [ ]:
# Swapping of two values.
A = input("First Data:    ")
B = input("Second Data:   ") 
A,B = B,A 
print("Swapped Value A:" , A)
print("Swapped Value B:" , B)

In [ ]:
# Swapping of two values.
A = input("First Data:    "); B = input("Second Data:   "); A,B = B,A ; print("Swap Value A:" , A); print("Swap Value B:" , B)

In [ ]:
# Swapping of two values.
A = input("First Data:    ")            #SWAPPING  using .split() method   +  INDEXING OF STRING
B = input("Second Data:   ")      
X = A + B
P = X.split(A)             # X,Y,A,B  are already STRINGS so no need to use DOUBLE Quotation MARKs
print(P)
print(P[1])
Q = X.split(B)
print(Q)
print(Q[0])
B = Q[0]
A = P[1]
print(A,B)

In [ ]:
# Swapping of two values.
A = input("First Data:    ")     # using .replace() method
B = input("Second Data:   ")      
X = Y = A + B
X = X.replace(A+B, B)             # X,Y,A,B  are already STRINGS so no need to use DOUBLE Quotation MARKs
print(X)
Y = Y.replace(A+B, A)
print(Y)

In [ ]:
x = "arjun"    #### make first letter in uppercase.
y = "Arjun"
x,y = y,x
print(x)

In [ ]:
#  Q3. Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*5 = 25
    
X = int(input("Enter a First two digit integer:  "))
Y = int(input("Enter a Second two digit integer: "))
print(X%10 * Y//10 + Y%10 * X//10)

In [ ]:
#  Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*6 = 27
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = int(str(X))
P = int(str(Y))

A = Q%10
B = P%10
C = (Q//10)
D = (P//10)
E = A*D + B*C
print(A,B,C,D)
print("\n")
print(E)

In [ ]:
#  Q3. Take any two numbers (two digit positive numbers) as inputs form the users multiply the numbers in this way
 #  25
 #  36
 #  5*3 + 2*6 = 27
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = int(str(X))
P = int(str(Y))

A = (Q%10)*(P//10)
B = (P%10)*(Q//10)
C = A + B
print("\n" , A,B , "\n" , C)

In [ ]:
# Find Average of two numbers.
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = int(str(X))
P = int(str(Y))

A = ((Q+P)//2)
print(A)

In [ ]:
#  Find Average of two numbers.
    
X = input("Enter a First two digit integer:  ")
print(X)
Y = input("Enter a Second two digit integer: ")
print(Y)
Q = int(str(X))
P = int(str(Y))

A = ((Q+P)/2)
print(A)

In [4]:
# Q1. take a two digit Integer form user and print the digit at one's place separately.

X = input("Enter a Two Digit integer: ")
Z = int(str(X))
print(type(Z))
Z%10

Enter a Two Digit integer: 234
<class 'int'>

4

In [ ]:
# Accidental Question
X = input("Enter a First two digit integer:  ")
Y = input("Enter a Second two digit integer: ")
Q = int(str(X))
P = int(str(Y))

Z = X*10 + Y
print('\n')
print(Z)

In [3]:
print("Name of student""\t\tAA\t\tBB\t\tCC\t\tDD")
print("\n")
print("Hindi          ""\t\t90\t\t80\t\t77\t\t91")
print("\n")
print("English        ""\t\t65\t\t55\t\t88\t\t79")
print("\n")
print("Sanskrit       ""\t\t91\t\t85\t\t75\t\t65")
print("\n")
print("SST            ""\t\t92\t\t88\t\t98\t\t58")

Name of student		AA		BB		CC		DD


Hindi          		90		80		77		91


English        		65		55		88		79


Sanskrit       		91		85		75		65


SST            		92		88		98		58

In [2]:
# Program to check whether a number is **EVEN or ODD**
n = int(input("Enter any number:  "))
print(type(n))
if n%2 ==0:
    print("Number is Even")
else:
    print("Number is Odd")
print("END")

Enter any number:  12343
<class 'int'>
Number is Odd
END

In [1]:
# Program to check whether a number is 'Palindrome number'
pn = (input("Enter any number:"))
y = pn[::-1]
if pn == y:
    print("Number is Palindrome")
else:
    print("Number is NOT Palindrome")
print("END")

Enter any number:23432
Number is Palindrome
END

In [1]:
# Write a code to display the name of 10 students through their Roll Number (By User)
students = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = int(input("students:"))
students[x]

students:3

'cc'

In [2]:
# Write a code to display the name of 10 students through their Roll Number (By User)
students = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = int(input("students:"))
print(students[x])

students:5
ee

In [1]:
# User wants to give admission to a to a new student -- Roll number and Name must be given by user.
y = int(input("Roll number of Student:"))
x = input("Enter the name of Student:")
student = {y:x}
print(student)

Roll number of Student:77
Enter the name of Student:Aj
{77: 'Aj'}

In [2]:
# User wants to give admission to a to a new student -- Roll number and Name must be given by user.
students = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = int(input("students:"))
print(students[x])
New = int(input("Roll number of Student:"))
New_Name = input("Enter the name of Student:")
students.update({New:New_Name})
print(students)

students:5
ee
Roll number of Student:99
Enter the name of Student:AJ
{1: 'aa', 2: 'bb', 3: 'cc', 4: 'dd', 5: 'ee', 6: 'ff', 7: 'gg', 8: 'hh', 9: 'ii', 10: 'jj', 99: 'AJ'}

In [6]:
# Remove first "N" characters form a string.
x = "I'm DATA Scientist"
print(len(x))
N = int(input("Remove N characters from the string:"))
x = x[N:len(x)]
print(x)

18
Remove N characters from the string:12
entist

In [2]:
# Return the "COUNT" of a given SUBSTRING from a String  -- "From last of the string".
x = "I'm DATA Scientist"
print(len(x))
N = int(input("Remove N characters from the string:"))
x = x[:len(x)-N]             #  used slicing of string... 
print(x)

18
Remove N characters from the string:123