In [1]:
print('Arjun'                            'Gupta')  # Here empty space is IGNORED!

ArjunGupta

In [2]:
print('Arjun                       Gupta')         # Here empty space is CONSIDERED!

Arjun                       Gupta

In [3]:
"""I am Data Scientist"""                         # Doc string

'I am Data Scientist'

In [6]:
10//4                                             # '//'    floor division -- ONLY give us Quotient.

2

In [5]:
5%4                                               # '%'    Modulous -- ONLY gives us remainder.

1

In [8]:
10**10                                            # '**' - Power

10000000000

In [9]:
type(100)                                        # type function  --- it tells the type of the FUNCTION.

int

In [10]:
type(55 + 55j)

complex

In [11]:
type(I am Data Scientist)                   # quotations are MISSING!

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3023273333.py, line 1)

In [12]:
type('I am Data Scientist')

str

In [14]:
Type('I am Data Scientist')                 # Python is a CASE SENSITIVE language.

NameError: name 'Type' is not defined

In [15]:
int(345.33)                                # Type Casting

345

In [16]:
complex(50 + 5)                            # Type Casting

(55+0j)

In [17]:
str(55__ 55 abc)                           # Error not properly DEFINED - quotations were MISSING!

SyntaxError: invalid decimal literal (3950327023.py, line 1)

In [1]:
str('55__ 55 abc')

'55__ 55 abc'

In [19]:
str(Data-Scientist)

NameError: name 'Data' is not defined

In [2]:
str('Data-Scientist')

'Data-Scientist'

In [20]:
float(33j)                      # complex data type cannot be converted to float

TypeError: float() argument must be a string or a real number, not 'complex'

In [21]:
bool('I am Data Scientist')     # Boolean -- ONLY 0 gives False --- Except 0 Everything is True

True

In [22]:
bool('0')                       # It is a string NOT  --- 0

True

Variables rules

 --- A variable name must start with an alphabet OR an UNDERSCORE.
 
 --- Cannot Start with a  number or any special character.
 
 --- Can ONLY contain alphabets, number and underscore.
 
 --- It is CASE SENSITIVE.
 
 --- Keywords cannot be used as variable names. example -- class, for, True, False....

In [26]:
___1982 = 567

In [4]:
print('I am \'Data Scientist\')         ## quotation Marks! are MISSING!

SyntaxError: unterminated string literal (detected at line 1) (3961926585.py, line 1)

In [28]:
print('I am \'Data Scientist\'')        # --- \'   It will give us SINGLE QUOTE

I am 'Data Scientist'

In [29]:
print('I am \t \'Data Scientist\'')     # --- \t    Use tab function of the keyboard (4 spaces)

I am 	 'Data Scientist'

In [8]:
print('I ama\b \t \'Data Scientist\'')
                             # --- \b                        Use backspace function of the keyboard. 
                             #                               -- (Even number of \b -- TWO spaces)
                             #                               -- (Odd number of \b -- ONE spaces)

I ama 	 'Data Scientist'

In [32]:
print('I ama\b \t \n\'Data Scientist\'')         # --- \n                        New line character.

I ama
'Data Scientist'

In [6]:
print('I ama\b \t \n\        Arjun Gupta \r 'Data Scientist\'')            #  --- \r      Carriage Return.

SyntaxError: invalid syntax. Perhaps you forgot a comma? (226212396.py, line 1)

In [7]:
print('I ama\b \t \n\        Arjun Gupta \r \'Data Scientist\'')        # -- \r       Carriage Return.

I ama
 'Data Scientist'

In [35]:
print('I ama\b \t \n\    Arjun Gupta \r \'Data Scientist\'')            # -- \r       Carriage Return.

I ama
 'Data Scientist'

In [36]:
x = 234+234+12 \                  # operator is MISSING!    
123 + 123 + 123
print(x)

SyntaxError: invalid syntax (428123319.py, line 2)

In [37]:
x = 234+234+12 + \                 #   '\'             Line continuation character.      
123 + 123 + 123
print(x)

849