### Questions of "for"_LOOP

### Questions of "Nested" for_LOOP

In [ ]:
# print the multiplication table of 2.

start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print(2," X ",z, "=", z*2)

In [ ]:
# print the multiplication table of 2.

start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print("Table of 2: 2*",z,"=",2*z)

In [ ]:
# print the multiplication table of n.
n = int(input("Enter the value of n:"))
start = int(input("Enter the start value:"))
stop = 1+int(input("Enter the stop value:"))
print(start)
print(stop)
for z in range(start,stop):
    print(n*z)

In [ ]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
    print(2," X ",z, "=", z*2)
    if z>=10:
        for z in range(1,11):
            print(3," X ",z, "=", z*3)
            if z>=10:
                for z in range(1,11):
                    print(4," X ",z, "=", z*4)
                    if z>=10:
                        for z in range(1,11):
                            print(5," X ",z, "=", z*5)
                            if z>=10:
                                for z in range(1,11):
                                    print(6," X ",z, "=", z*6)
                                    if z>=10:
                                        for z in range(1,11):
                                            print(7," X ",z, "=", z*7)

In [ ]:
# print the multiplication table of 2,3,4,5,6,7
for z in range(1,11):
    print(2," X ",z, "=", z*2)
    if z>=10:
        for z in range(1,11):
            print(3," X ",z, "=", z*3)
        for z in range(1,11):
            print(4," X ",z, "=", z*4)
        for z in range(1,11):
            print(5," X ",z, "=", z*5)
        for z in range(1,11):
            print(6," X ",z, "=", z*6)
        for z in range(1,11):
            print(7," X ",z, "=", z*7)

### Use of "end"_command

In [2]:
## end -- command in PYthon

print("I am DATA",end="")
print("Scientist")

I am DATAScientist

In [3]:
## end -- command in PYthon

print("I am DATA",end=" ")
print("Scientist")

I am DATA Scientist

In [4]:
## end -- command in PYthon

print("I am DATA",end="_")
print("Scientist")

I am DATA_Scientist

In [ ]:
# print "*" in output in line -- using for_loop

for x in range(0,5):
    print("*")

In [ ]:
# print "*" in output in line -- using for_loop

for x in range(5):
    print("*")

In [ ]:
X  = input()
print(type(X))
p = int(input())
for z in range(p):
    z = X*p
    print(z)

In [ ]:
X  = input()
print(type(X))
p = 1+int(input())
for z in range(p):
    z = X*z
    print(z)

In [5]:
X  = input()
print(type(X))
p = 1+int(input())
for z in range(p):
    z = X*z
    print(z)

1
<class 'str'>
5

1
11
111
1111
11111

### Nested "for"_LOOP

In [7]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*",end="")

2
*********

In [8]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*",end=" ")
        print()

2
*
*
*
*
*
*
*
*
*

In [ ]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if x>=y:
            print("*\n",end=" ")

In [ ]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        print("*"*y)

In [ ]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y>=x:
            print("*"*y)

### "DONE"

In [9]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)

3

*
**
***

### "DONE"

In [10]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("* "*y)

3

*
* *
* * *

### "DONE"

In [11]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        p=p-1
        print("* "*p)

3
* * *
* *
*

### "DONE"

In [12]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        p=p-1
        print("*"*p)

3
***
**
*

## "DONE"

In [3]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("*"*y)
for y in range(p):
    p=p-1
    print("*"*p)

3

*
**
***
***
**
*

In [4]:
p = 1+int(input())
for x in range(p):
    for y in range(p):
        if y==x:
            print("* "*y)
for y in range(p):
    p=p-1
    print("* "*p)

3

*
* *
* * *
* * *
* *
*

### "DONE"

In [2]:
# Square each number inside a list and finally print list
lst=[1,2,3,4,5]
print(lst)
print(id(lst))
for x in range(1,6):
    lst.remove(x)
    x = x**2
    print(x)
    lst.append(x)
print(lst)
print(id(lst))

[1, 2, 3, 4, 5]
2633682876544
1
4
9
16
25
[1, 4, 9, 16, 25]
2633682876544

In [ ]:
def Function_lst():
    lst=[1,2,3,4,5]
    print(lst)
    print(id(lst))
    for x in range(1,6):
        lst.remove(x)
        x = x**2
        print(x)
        lst.append(x)
    print(lst)
    print(id(lst))